<% if (current_user.teams | current_user.managed_teams).any? %>
  <li class="dropdown">
    <a class="dropdown-toggle" id="drop-current" href="#" data-toggle="dropdown">Your Teams<b class="caret"></b></a>
    <ul class="dropdown-menu" id="menu-current" role="menu" area-labelledby="drop-current">
      <% (current_user.teams | current_user.managed_teams).each do |team| %>
        <li>
          <a role="menuitem" tabindex="-1" href="/teams/<%= team.slug %>">
            <%= team.slug %>
          </a>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
