<div class="container">
  <section class="page-header">
    <h1>Nit Stats: <small><%= user.username %></small></h1>
  </section>
  <div class="row">
    <div class="col-md-8">
      <p class="well">
        <a href="/nits/<%= user.username %>/given">Nits picked</a>
        vs.
        <a href="/nits/<%= user.username %>/received">nits received</a>
        over the past 30 days
      </p>
      <ul class="graph-legend">
        <li class="nits-picked">Nits picked</li>
        <li class="nits-received">Nits received</li>
      </ul>
      <canvas id="nitstat-chart" data-stats='<%= stats.data.to_json %>' width="800" height="400"></canvas>
    </div>
  </div>
</div>
