%section.main
  = haml :"home/topnav-user"
  %section.masthead
    %img.logo{:src => "redesign/icons/logo.svg"}
    %h1.headline The Devil Is In The Details
    %h2.sub-head Crowd-sourced code reviews on daily practice problems
    %a.login-gh get started via github

  %section.content-primary
    %div.column-container
      %div.column
        %img.badge{:src => "redesign/icons/badge-iteration.svg"}
        %h2.badge-title Practice
        %h3.badge-details
          We give you a README and a test suite. You make the tests pass...but that's just the first step.
          The goal is to focus on expressive, readable code
          = succeed "." do
            %a{:href => link_to('/about')} in multiple languages
          Work locally in your usual environment using your usual tools.

      %div.column
        %img.badge{:src => "redesign/icons/badge-people.svg"}
        %h2.badge-title Get Feedback
        %h3.badge-details
          This is a conversation about what good code might look like. This may be a question of idiom, or context, or style. There's no right answer, and many good questions.

      %div.column
        %img.badge{:src => "redesign/icons/badge-nitpick.svg"}
        %h2.badge-title Nitpick
        %h3.badge-details
          Once you've completed an exercise, you are invited to provide feedback to other participants working on the exercise.
          This means that the people who review your code are your peers, not a small handful of so-called experts.

  %section.content-secondary
    %h2 Try It
    %p You don't need to log in to try it out. Go to a temporary directory.
    %pre $ cd /tmp
    %p
      Download the
      = succeed "," do
        %a{:href => "https://github.com/exercism/cli/releases/latest"} command line client
      unpack it into a temporary directory.
    %p The binary is named <kbd>exercism</kbd>. Fetch the first exercise available for each language:
    %pre $ ./exercism demo
