%section.topnav<>
  %a.logout(href="/logout")<>
    %img.logout-icon(src="redesign/icons/logout.svg")
    %span.logout-text.topnav-link Logout

  %nav.primary-nav<>
    %a.topnav-link(href='/about') About Exercism
    %a.topnav-link(href='/getting-started') Getting Started
    %a.topnav-link(href='/help') Help
    %a#sidebar_toggle.topnav-link(href="#sidebar") &larr;

