%section.topnav
 %a.logout{:href => link_to("/logout")}
  %img.logout-icon{:src => "redesign/icons/logout.svg"}
   %p.logout-text Logout
 %nav.primary-nav
  %a.topnav-link{:href => link_to('/about')} About Exercism
  %a.topnav-link{:href => link_to('/getting-started')} Getting Started
  %a.topnav-link{:href => link_to('/help')} Help
