<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2 footer-logo">
        <a href="/"><img class="img-responsive" src="/img/logo.png" /></a>
        <hr />
        <p>
          <a href="/about">About</a>
        </p>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-sm-3 col-md-offset-2 col-md-2 hidden-xs">
        <%= erb :"application/footer/links" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 text-right footer-social">
        <br>
        <p class=" text-muted small">
          &copy; <%= Date.today.year %> Imaginea
        </p>
      </div>
    </div>
  </div>
</footer>

<div id="list-notifications"></div>

