<li class="dropdown">
  <a class="dropdown-toggle" id="drop-account" href="#" data-toggle="dropdown">
    <%= gravatar_tag current_user.avatar_url, size: 20 %>
    <%= current_user.username %> <b class="caret"></b>
  </a>

  <ul class="dropdown-menu" role="menu">
    <li><a role="menuitem" tabindex="-1" href="/account">Account</a></li>
    <li><a role="menuitem" tabindex="-1" href="/nits/<%= current_user.username %>/stats">Nit stats</a></li>
    <li><a role="menuitem" tabindex="-1" href="/looks">Recently Viewed</a></li>
    <li><a role="menuitem" tabindex="-1" href="/logout">Log Out</a></li>
  </ul>
</li>
