<% if current_user.ongoing.any? %>
  <li class="dropdown">
    <a class="dropdown-toggle" id="drop-current" href="#" data-toggle="dropdown">Current Exercises <b class="caret"></b></a>

    <ul class="dropdown-menu" id="menu-current" role="menu" area-labelledby="drop-current">
      <% current_user.ongoing.each do |submission| %>
        <li>
          <a role="menuitem" tabindex="-1" href="/submissions/<%= submission.key %>">
            <%= submission.problem.language + ' ' + submission.problem.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
