%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
:javascript
  window.jQuery || document.write('<script src="/v1.0/js/vendor/jquery-1.10.1.min.js"><\/script>')

%script{:src => link_to("/js/vendor/bootstrap.min.js")}
%script{:src => link_to("/js/plugins.js")}
%script{:src => link_to("/js/main.js")}

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47528450-1', 'exercism.io');
  ga('send', 'pageview');
