%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
:javascript
  window.jQuery || document.write('<script src="/v1.0/js/vendor/jquery-1.10.1.min.js"><\/script>')

%script{:src => link_to("/js/vendor/bootstrap.min.js")}
%script{:src => link_to("/js/plugins.js")}
%script{:src => link_to("/js/main.js")}
