%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %title exercism.io
  %meta{:content => "", :name => "description"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %link{:href =>  link_to("/css/bootstrap.min.css"), :rel => "stylesheet"}/
  %link{:href =>  link_to("/css/bootstrap-theme.min.css"), :rel => "stylesheet"}/
  %link{:href =>  link_to("/css/main.css"), :rel => "stylesheet"}/
  %link{:href =>  link_to("/css/hacks.css"), :rel => "stylesheet"}/
  %link{:href =>  link_to("/css/pygments.css"), :rel => "stylesheet"}/
  %link{:href =>  link_to("/css/language-colors.css"), :rel => "stylesheet"}/
  %link{:href =>  link_to("/favicon.ico"), :rel => "shortcut icon"}/
  %script{:src => link_to("/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")}
