%header#page-header.navbar-logged-in
  .header-actions
    %a{:href => link_to("/logout")} Logout
  %nav#main-nav
    %ul
      %li
        %a{:href => link_to('/about')} About Exercism
      %li
        %a{:href => link_to('/getting-started')} Getting Started
      %li
        %a{:href => link_to('/help')} Help
