.code_logout
  .code_logout_left
    %a{:href => link_to("/logout")} Logout
  .code_logout_right
    %ul
      %li
        %a{:href => link_to('/about')} About Exercism
      %li
        %a{:href => link_to('/getting-started')} Getting Started
      %li
        %a{:href => link_to('/help')} Help
    .clear
  .clear
