TAGS
*.beam
*.gem
*.rbc
*.pyc
*.swp
*.beam
.bundle
.config
.DS_Store
coverage
InstalledFiles
lib/bundler/man
log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ruby-version
db/seeds.sql
db/schema.sql
db/migrations.sql
.capistrano/metrics

# JavaScript
node_modules

# PHP
phpunit.phar

# OCaml
*.native
_build/

# Environment variables
.env

# YARD artifacts
.yardoc
_yardoc
doc/
.approvals
db/*sqlite

# Java
.class

# RubyMine
.idea
*.iml

# sass
.sass-cache/

# github access tokens
.access_tokens

# ctags
./tags

# compiled css
lib/app/public/css
!.application.css
!.styleguide.css
/.project
