language: ruby
rvm:
  - 1.9.3
services: mongodb
before_script:
  - './test/haskell/bootstrap.sh'
  - 'bundle exec mailcatcher'
script:
  - 'RACK_ENV=test rake db:migrate test'
  - '( cd frontend && npm install && lineman spec-ci )'
  - '( export PATH=/opt/hp-2013.2.0.0/bin:$PATH; runhaskell ./test/haskell/check-exercises.hs )'
  - "! git grep ' $' -- \\*.rb | grep -v 'assignments/ruby/ocr-numbers/ocr-numbers_test.rb'"
