language: ruby
sudo: false
rvm:
  - 2.3.3
script:
  - 'createuser exercism --superuser && createdb -O exercism exercism_test'
  - 'npm install -g lineman'
  - 'npm install'
  - 'RACK_ENV=test CI=1 bundle exec rake db:migrate test:everything'
  - "! git grep ' $' -- \\*.rb"
cache:
  - bundler
  - node_modules
