%section.main
  %div.code-header
    %h1.exercise-name
      bob
    %span.exercise-language
      ruby

    %div.quick-stats
      %img.small-avatar{:src => "/redesign/icons/katrina.png"}
      %div.stats
        %a{:href => link_to(root_path)}
          username
        %p.time-ago
          Submitted about 21 hours ago / 0 views
        %p.status
          Iteration 3 of 3 / Exercise in progress
