.contributing-intro {
  padding: 48px 60px 30px 60px;
  margin-bottom: 0;
  background-color: white;

  .lead {
    padding-top: 10px;
  }
}

.contributing-section {
  h2 {
    margin-top: 30px;
  }
}
