@import 'bootstrap';
@import '../base/themes/exercism';
@import '../base/variables';

#footer {
  background: lighten($gray-lighter, 3%);
  padding: 30px 0px;
  margin-top: 40px;

  a {
    color: $gray;
    &:hover {
      text-decoration: none;
      color: $exercism-red;
    }
  }

  .nav {
    > li > a {
      padding: 6px 12px;
    }
  }

  .footer-social {
    li {
      margin-bottom: 10px;
    }
    .fa {
      margin-right: 4px;
    }
  }

  .footer-sponsors {
    @include clearfix;
    .h6 {
      text-transform: uppercase;
      color: #fff;
      background: $gray-light;
      padding: 3px 6px;
    }
    ul {
      margin-top: 6px;
      li:last-child {
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  #footer {
    .footer-social {
      text-align:left;
    }
    .footer-logo {
      margin-bottom: 20px;
    }
  }
}