@import "compass/css3/border-radius";
@import "../base/variables";
@import "../base/themes/exercism";

#home {
  .home-top {
    background: #D81D4E;
    box-shadow: 0 10px 0 #f1f1f1;
    min-height: 300px;
    min-width: 100%;
    padding: 40px 0;
    .home-top-header {
      color: white;
      letter-spacing: -0.05em;
      margin-bottom: 0px;
    }
  }
  .summary {
    padding: 20px 10px;
    box-shadow: 0 5px 0 #f1f1f1;
    border-bottom: 1px solid #eee;
    p {
      font-size: 1.5em;
      margin: 0.5em;
    }
  }
  .content-primary {
    padding-top: 2em;
    padding-bottom: 3em;
    p {
      font-size: 1.3em;
    }
    p.feelz {
      font-size: 1.5em;
      font-style: italic;
    }
  }
}
