#pending-submissions {

    .label-counts {
        font-family : "Source Code Pro";
        font-weight : 300;
        font-size : 18px;
        margin-left : 445px;

        span {
            padding-right : 12px;
        }
    }
}
