@import 'bootstrap';
@import '../base/themes/exercism';
@import '../base/mixins/blockquote';
@import '../base/variables';
@import 'font-awesome';

#submission {
  .submission-header {
    @include clearfix;
    margin-bottom: 0px;
    h1 {
      margin-top: 0px;
    }
    .submission-language {
      float: left;
      margin-right: 10px;
      a {
        display: block;
        &:hover {
          text-decoration: none;
        }
      }
      .language {
        cursor: pointer;
      }
    }
  }
  .submission-toolbar {
    margin-top: 10px;

    .btn.disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }
  .submission-user-actions {
    form {
      display: block;
      button {
        display: block;
        border: 0px;
        width: 100%;
        text-align: left;
        border-radius: 0px;
      }
    }
  }
  .submission-author {
    margin-top: 0px;
  }
  .submission-alerts {
    margin-top: 10px;
  }
  .submission-iterations {
    margin-top: 10px;
    .iterations-nav {
      font-size: $font-size-large;
      .badge {
        position: absolute;
        background: darken($gray-lighter, 10%);
        font-size: $font-size-small;
        padding: 3px 6px;
        right: 5px;
        top: 5px;
      }
      .iteration-label {
        padding-top: 8px;
        padding-right: 10px;
        .label {
          background: $gray-light;
        }
      }
      li {
        position: relative;
        &.active a {
          font-weight: bold;
        }
        a {
          min-width: 65px;
          text-align: center;
          color: $text-color;
        }
      }
      li:last-child a {
        min-width: 80px;
      }
      li:last-child .fa {
        @extend .fa-refresh;
        color: $brand-info;
      }
    }
  }
  .submission-iteration {
    margin-top: 10px;
    .code {
      .highlight {
        border-top-right-radius: 0;
        padding: 0px;
      }

      :target {
        background: #f8eec7;
      }
    }
  }
  .submission-like-button {
    button {
      @extend .btn-default;
      @extend .btn-xs;
      .fa {
        @extend .fa-thumbs-up;
      }
    }
    button[name=unlike] .fa {
      @extend .fa-thumbs-down;
    }
  }
  .submission-likes {
    margin-top: 15px;
  }
  .md-markdown-preview {
    a {
      cursor: pointer;
    }
    .preview {
      margin: 10px 0px;
    }
    @include blockquote_style;
  }
  .submission-code-header {
    margin-top: 25px;
  }
  .submission-code-filename {
    display: inline;
    h4 {
      display: inline;
    }
  }
  .submission-code-actions {
    .btn {
      border-radius: 0px;
      border-bottom-width: 0;
    }
  }
  .highlight {
    td.gutter, td.code {
      vertical-align: top;
    }
    &.preview {
      $preview-color: scale-color($exercism-red, $lightness: 50%);
      border-color: $preview-color;
      border-style: dashed;
    }
  }
  .comments {
    h3 {
      margin-top: 0px;
    }
  }
}
