.teams-search {
  margin-top: 20px;
}

.create-team-btn {
  margin-top: 2em;
}

ul.teams-result-list {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;

  li {
    padding-top: 5px;

    h3 {
      font-weight: bold;
    }
  }
}
