= haml :"site/banner", locals: {title: "OHAI"}

#content-second
  %article.first.last
    .container.container-narrow
      %h2 Welcome to Exercism
      %p This page will go away, but for the moment, uhm, welcome to exercism.
