$exercism-red: #d81d4e;
$exercism-dark-red: #6e1f2d;
$exercism-medium-red: #770428;
$exercism-charcoal: #333333;
$exercism-medium-plus-gray: #777777;
$exercism-medium-minus-gray: #9d9d9d;
$exercism-light-gray: #eeeeee;
$exercism-silver: #bbbbbb
