#content-first
  %article.first.last
    .container.container-narrow

      %h1 SOLUTIONS

      #content_form
        %form{:method => "post"}
          .drop_downsejmdff
            %select.dropdown.contirbute_dropppp{:tabindex => "1"}
              %option{:value => "1"} CHOOSE LANGUAGE
              %option{:value => "2"} INDIA
              %option{:value => "3"} INDIA
              %option{:value => "4"} INDIA
              %option{:value => "5"} INDIA
          .drop_downsejmdff.next
            %select.dropdown.contirbute_dropppp1{:tabindex => "1"}
              %option{:value => "1"} CHOOSE EXERCISE
              %option{:value => "2"} INDIA
              %option{:value => "3"} INDIA
              %option{:value => "4"} INDIA
              %option{:value => "5"} INDIA
          .clear
      .total 256 Result
      .clear
      #view_sol.content_togal
        %ul
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
          %li
            .content_main_left
              .image_content
                %img.img-circle{:alt => "", :src => "images/photo.png"}/
              .text_image_content
                %p
                  %a{:href => ""} anagram
                  %span.tit objective-c
                %p
                  AliceSmith (3)
                  %span.itelice About 7 hours ago
              .clear
            .content_main_right
              .group1
                .box1 3 Iterations
                .sprite-icon-code.menu-icon
              .group2
                .box2 24 Nits
                .sprite-icon-comment.menu-icon
                .clear
              .clear
            .clear
      .more_result
        %a#more_res{:href => "#", :onclick => " return false"} More Results
