%p Completed

- tracks.each do |track|
  %p{:class => track.language}= track.name

  .exercises.truncate
    %ul
      - track.exercises.each do |exercise|
        %li
          %a{:href => link_to(exercise.url)}= exercise.name
