%section.main
  %h1= profile.username

  %p
    %a{href: profile.github_url} GitHub profile

  %p Active Exercises
  %ul
    - profile.active_exercises.each do |exercise|
      %li
        %a{:href => link_to(exercise.url)}
          = exercise.language
          = exercise.name

  = haml :"user/completed_exercises", locals: {tracks: profile.completed_by_track}
