<h1>How to Access the Exercises</h1>

<p>You access the exercises via the command line.</p>

<p>The command line interface (CLI) is a stand-alone binary, so you should be able to install it without installing any particular programming language or environment.</p>

<h2>Installing the CLI</h2>

<p>Download the correct <a href="https://github.com/msgehard/go-exercism/releases/tag/1.0.0">exercism CLI</a> binary for your system. You will need to unpack it. The actual client is the file named <kbd>exercism</kbd>.</p>

<p>On Mac or Linux, put this in a directory that is in your <kbd>PATH</kbd>. On my system I have a directory <kbd>~/bin</kbd> which serves this purpose. I put it in my path by adding the following line to my <kbd>.bash_profile</kbd>:</p>

<pre>
  export PATH=~/bin:$PATH
</pre>

<p>If you are on a Mac and you're wondering which binary you need, <a href="http://support.apple.com/kb/HT3696">this page</a> should be useful. If not, post <a href="https://github.com/kytrinyx/exercism.io/issues/new">an issue</a> so that we can figure out what's confusing, help you out, and then update this text so that the next person doesn't get stuck.</p>

<h2>Configuring the CLI</h2>

<p>Run the following command:</p>

<pre>
  $ exercism login
</pre>

<p>You will be asked for your username, your API key, and the location on your filesystem that you'd like to put the exercises. The gem will suggest your current location as the default (in parentheses). If you are happy with that, you can simply hit enter to select that option.</p>

<p>Your credentials get saved in a config file in your home directory.</p>

<% if current_user.guest? %>
  <p>You can always find your API key in your account.</p>
<% else %>
  <p>You can always find your API key in <%= profile_link(current_user, "your account") %>.</p>
<% end %>

<p>If you mess up your login, you can either edit the config file at
<kbd>~/.exercism.go</kbd> or you can say <kbd>exercism logout</kbd> and then try again.</p>

<h2>Fetching the Code</h2>

To fetch down your current exercises, issue the command:

<pre>
  $ exercism fetch
</pre>

The gem will download the exercises to the configured project directory. Note that the code will be put in that directory even if you are somewhere else on the filesystem.

To start working on an exercise, go find the downloaded files.

<pre>
  $ cd path/to/exercism/project # or whatever
</pre>

You can work on them using your usual editor, tools, and environment.

<h2>Submitting the Code</h2>

<p>Submit the code to the website with the following command:</p>

<pre>
  $ exercism submit path/to/your/code.ext
</pre>

<p>You will be given a link to the submission. This is where you'll get feedback.</p>
