<h1>How to Access the Exercises</h1>

<p>You access the exercises via the command line.</p>

<p>The <a href="http://cli.exercism.io">command line interface (CLI)</a> is a stand-alone binary, and you can install it without installing any particular programming language or environment.</p>

<p>Download the <a href="https://github.com/exercism/cli/releases/latest">latest release</a> and place the binary in your <code>PATH</code>.</p>

<p>If you are unsure of which processor architecture you have, try one of these:</p>

<ul>
  <li><a href="http://support.microsoft.com/kb/827218">Windows</a></li>
  <li><a href="http://support.apple.com/kb/HT3696">Mac OS X</a></li>
  <li>On linux, try <a href="http://www.howtogeek.com/howto/24842/">uname</a> or <a href="http://linuxers.org/article/use-lscpu-command-get-cpuprocessor-information-linux">lscpu</a>.</li>
</ul>

<p><a href="/help/understanding-path">Read more about <code>PATH</code></a> if this is unfamiliar territory.</p>

<p>If you get stuck, post <a href="https://github.com/exercism/exercism.io/issues/new">an issue</a> so that we can figure out what's confusing, help you out, and then update this text so that the next person doesn't get stuck.</p>
<h2>Installing the CLI on Mac OS X and Linux</h2>

<p>On Mac OS X or Linux you can install the CLI with the following command [<a href="http://cli.exercism.io/install">view source</a>]:</p>

<pre>
$ curl http://cli.exercism.io/install | sh
</pre>

<p>The script has not been used on a wide variety of computers yet, so if that does not work, please <a href="https://github.com/exercism/cli-www/issues">post an issue</a> so we can improve the script.</p>

<h2>Installing the CLI on Windows</h2>

<p>To unpack the <code>.tgz</code> file you will need a tool like <kbd>gzip</kbd>, <kbd>GNU tar</kbd>, or the <a href="http://legroom.net/software/uniextract">universal extractor "uniextract"</a>. It seems like neither <kbd>jzip</kbd> or <kbd>7-zip</kbd> work.</p>

<p>The extracted binary is named <code>exercism.exe</code>.</p>

<p>Create a new folder for your exercism exercises, and put the <code>exercism.exe</code> file in that folder. Then you run it by calling it with <code>C:\path\to\exercism\project\exercism.exe</code>.</p>

<h2>Configuring the CLI</h2>

<p>Run the following command (Mac/Linux):</p>

<pre>
  $ exercism login
</pre>

<p>or (Windows):</p>

<pre>
  $ C:\path\to\exercism.exe login
</pre>

<p>You will be asked for your username, your API key, and the location on your filesystem that you'd like to put the exercises. The gem will suggest your current location as the default (in parentheses). If you are happy with that, you can simply hit enter to select that option.</p>

<p>Your credentials get saved in a config file in your home directory.</p>

<% if current_user.guest? %>
  <p>You can always find your API key in your account.</p>
<% else %>
  <p>You can always find your API key in <a href="/account">your account</a>.</p>
<% end %>

<p>If you mess up your login, you can run the <kbd>exercism login</kbd> command again.</p>

<h2>Fetching the Code</h2>

To fetch down your current exercises, issue the command:

<pre>
  $ exercism fetch
</pre>

The gem will download the exercises to the configured project directory. Note that the code will be put in that directory even if you are somewhere else on the filesystem.

To start working on an exercise, go find the downloaded files.

<pre>
  $ cd path/to/exercism/project # or whatever
</pre>

You can work on them using your usual editor, tools, and environment.

<h2>Submitting the Code</h2>

<p>Submit the code to the website with the following command:</p>

<pre>
  $ exercism submit path/to/your/code.ext
</pre>

<p>You will be given a link to the submission. This is where you'll get feedback.</p>

<h2>Unsubmitting the Code</h2>

<p>Remove a recent submission with the following command:</p>

<pre>
  $ exercism unsubmit path/to/file.rb
</pre> 

<p>The following restrictions apply to the code you want to unsubmit:</p>
<p> 1. Maximum time since original submission: 5 minutes. </p>
<p> 2. There must be no comments by other people on the code. </p>
<p> 3. The assignment must not be listed as completed. </p>

<h2>Getting through your Firewall...</h2>

<p>If you live behind a firewall, you can configure exercism to go through your proxy, like so:</p>

<pre>
  set http_proxy=http://[user]:[pass]@[proxy host/port]
</pre>

or 

<pre>
  export http_proxy=http://[user]:[pass]@[proxy host/port]
</pre>
