%section.main
  %article.article-block
    %div.article-contents
      %h1 Available Help Topics

      %ul
        - help_topics.each do |slug, title|
          %li
            %a{:href => link_to("/help/#{slug}")}= title

      %p If you can't find what you need, please <a href="https://github.com/exercism/exercism.io/issues">submit an issue on GitHub</a>.
