<div class="container">
  <%= erb :"onboarding/progress_bar", locals: {step: dashboard.next_action} %>
  <section class="main">
    <article class="article-block">
      <div class="article-contents">
        <h2>Share Your Process</h2>

        <p>So you've submitted an exercise, now what?</p>

        <p>It's interesting to know how you approached the exercise. Feel free to comment, saying a bit about your thought process, the choices you made, things you considered and discarded, or interesting insights that you had while solving it.</p>

        <p>There's no One True Solution<sup>TM</sup> to any of the problems (and don't believe anyone if they suggest there is). When others comment, remember that this is a conversation, not instruction. They probably don't have all the answers, and neither do you.</p>

        <p>Push back (politely) if you disagree with some feedback you get. It will make the conversation richer and more valuable to everyone to explore the reasoning and histories behind the preferences we all have.</p>

        <h2>Iterate!</h2>

        <p>There's no finish line, so feel free to take as many twisty turns as you like, experimenting with different approaches.</p>

        <h2>Have Conversations</h2>
        <p>Once you've submitted a solution to an exercise, you can see solutions that other people submitted. If you find someone who did something differently than you, ask them questions about it.</p>

        <h2>Done?</h2>

        <p>There's no rule for when you should archive a problem. You're done when you feel done. That might be that you're sick of the problem, or that you just don't feel like talking about it anymore, or that it's been hashed and rehashed, and there really isn't anything left to say about it. Or any other reason that you can think of.</p>

        <p>When you're ready to move on, select <em>Archive Exercise</em> in the "Manage" dropdown, and your solution will no longer appear in the list of exercises that are waiting for feedback.</p>
      </div>
    </article>
  </section>
</div>
