<div class="container">
  <%= erb :"onboarding/progress_bar", locals: {step: dashboard.next_action} %>
  <section class="main">
    <article class="article-block">
      <div class="article-contents">
        <h2>Getting Set Up</h2>
        <p>There's documentation about how to get the language environments set up on the <a href="#">help</a> site.</p>

        <h2>Solving Exercism Problems</h2>

        <p>The test suites vary a bit from language to language.</p>

        <p>Some of the languages use skipped or pending tests in order to simulate the Test-Driven Development (TDD) process.</p>

        <p>In these languages, only the first test will be active. Once you write enough code to get that test passing, you'll need to open up the test suite and edit it to remove the <em>skip</em> to activate the next test.</p>

        <p>Work through one failing test at a time.</p>

        <p>Once you've got the whole test suite passing, take a few minutes to look at the code you have and think about how it could be tweaked to be more readable and expressive.</p>

        <p>If everything is up and fine then create a Github repo in the name of the assignment and push entire code to your Github specified repo.</p>
       <p>Say if your assignment is <pre>prime-calcualtor</pre> your github repo should reflect the same(case-sensitive)</p>
       <p>Then save the commit id in a file and submit the commit id file using the following command:</p>

        <pre>
        exercism submit path/to/commit-id.ext
        </pre>

        <h2>Getting Help</h2>

        <p>If you get stuck and can't figure out how to get the test passing, submit what you have, then go to the submission page for your exercise and add a comment describing what you tried, what you're trying to do, and where you got stuck.</p>
      </div>
    </article>
  </section>
</div>
