<article class="article-block">
  <div class="article-contents">
    <% if problem %>
      <h2 class="header">Fetch your first exercise</h2>
      <pre> exercism fetch <%= slug %> <%= problem.slug %></pre>
    <% end %>
  </div>
</article>
