<div class="container getting-started">
  <%= erb :"languages/_header", locals: { language: language } %>
  <h3>If you'd like to see exercises in this language, <a href="https://github.com/exercism/exercism.io/issues/new">let us know.</a></h3>
</div>
