/*
Syntax error: Invalid CSS after " background-color:": expected pseudoclass or pseudoelement, was " magenta"
        on line 2 of ./lib/redesign/public/stylesheets/sass/styles.scss

1: body
2:  background-color: magenta

Backtrace:
./lib/redesign/public/stylesheets/sass/styles.scss:2
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:1147:in `expected'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:1085:in `expected'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:1067:in `expr!'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:794:in `pseudo'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:678:in `simple_selector_sequence'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:646:in `_selector'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:619:in `selector'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:603:in `selector_sequence'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:553:in `block_child'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:27:in `parse'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:342:in `_to_tree'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/rack.rb:51:in `call'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/rack-1.5.2/lib/rack/lint.rb:49:in `_call'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/rack-1.5.2/lib/rack/lint.rb:37:in `call'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/rack-1.5.2/lib/rack/showexceptions.rb:24:in `call'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/puma-2.7.1/lib/puma/rack_patch.rb:13:in `call'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sinatra-1.4.4/lib/sinatra/base.rb:217:in `call'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/rack-1.5.2/lib/rack/chunked.rb:43:in `call'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/rack-1.5.2/lib/rack/content_length.rb:14:in `call'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/puma-2.7.1/lib/puma/server.rb:486:in `handle_request'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/puma-2.7.1/lib/puma/server.rb:357:in `process_client'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/puma-2.7.1/lib/puma/server.rb:250:in `block in run'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/puma-2.7.1/lib/puma/thread_pool.rb:92:in `call'
/Users/breethomas/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/puma-2.7.1/lib/puma/thread_pool.rb:92:in `block in spawn_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \" background-color:\": expected pseudoclass or pseudoelement, was \" magenta\"\A         on line 2 of ./lib/redesign/public/stylesheets/sass/styles.scss\A \A 1: body\A 2:  background-color: magenta"; }
