<a href="/languages/<%= track.id %>" class="track_link col-lg-2">
  <div class="text-center">
    <%= track_image(track) %>
    <p><%= track.language %></p>
    <p><%= track.problems.count %> Problems</p>
  </div>
</a>
