<article class="article-block">
  <div class="article-contents">
    <h2 class="header">Getting Started</h2>
    <p>Need help getting started? You can find install documentation and resources for <%= language %> <a href="http://help.exercism.io/getting-started-with-<%= slug %>.html">here</a>.</p>
  </div>
</article>
