<article class="article-block">
  <div class="article-contents">
    <h2 class="header">Having Issues?</h2>
    <p>If you find typos or inconsistencies in any of the problems, or if anything is unclear, post a new issue in the <a href=<%= repo_url %>>repository</a> for this track.</p>
  </div>
</article>
