<div class="tab-pane <%='active' if track.active? %>" id="help">
  <p>
    If you're having trouble <a href="https://gitter.im/exercism/support">jump in the support chat</a>,
    or submit a <a href="https://github.com/exercism/exercism.io/issues">GitHub issue</a> and
    explain what's going on. We'll do our best to get you unstuck.
  </p>
</div>

