<a href="<%= track.repository %>" class="track_link col-xs-4 col-sm-4 col-md-2 col-lg-2">
  <div class="text-center">
   <p> <%= track_icon(track.id) %> </p>
   <p><%= track.language %></p>
  </div>
</a>
