<%= md x_docs.todo %>

<% todos = Trackler.todos[track.id] %>
<% if todos.count.zero? %>
  <div class="col-md-12 jumbotron">
    <p>All exercises are implemented in <%= track.language %>, you will need to <a href="https://github.com/exercism/docs/blob/master/you-can-help/make-up-new-exercises.md">invent a new exercise.</a></p>
  </div>
<% else %>
  <div class="row padding-row todo-heading">
    <div class="col-lg-4">
      <h4>Exercises</h4>
    </div>
    <div class="col-lg-4 visible-lg-block">
      <h4>About</h4>
    </div>
    <div class="col-lg-4 visible-lg-block">
      <h4>Examples</h4>
    </div>
  </div>

  <% todos.each do |todo| %>
    <div class="row padding-row exercise-todo">
      <%= erb :'languages/_contribute_exercise', locals: { problem: todo} %>
    </div>
  <% end %>
  </div>
<% end %>
