<div id="contribute">
  <div class="container-fluid">
    <section class="page-header">
      <div class="pull-left" style="margin-right: 10px;">
        <%= track_icon(track_id) %>
      </div>
      <h1><%= language %></h1>
    </section>
    <div class="row">
      <div class="col-md-12">
        <h2>This is a list of all the missing implementations for this track</h2>
      </div>
    </div>
    <% todos.each_slice(3) do |todo| %>
      <div class="row row-eq-height">
        <% todo.each do |t| %>
          <%= erb :'languages/_contribute_exercise', locals: { exercise: t } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
