<div class="container getting-started">
  <%= erb :"languages/_header", locals: { language: language } %>
  <h3>We're still working on <%= language %>. <a href="https://github.com/exercism/x<%= slug %>">Want to help us out?</a></h3>
</div>
