<div id="languages">
  <div class="container-fluid">
    <section class="page-header">
      <h1>Languages</h1>
    </section>
    <div class="languages-list">
      <% active.each do |t| %>
        <%= erb :'languages/_block', locals: { track: t } %>
      <% end %>
    </div>

    <section class="page-header">
      <h3>Upcoming</h3>
    </section>
    <div class="languages-list">
      <% upcoming.each do |t| %>
        <%= erb :'languages/_block', locals: { track: t } %>
      <% end %>
    </div>

    <section class="page-header">
      <h3>Planned</h3>
    </section>
    <div class="languages-list">
      <% planned.each do |t| %>
        <%= erb :'languages/_block', locals: { track: t } %>
      <% end %>
    </div>
  </div>
</div>
