<div id="languages">
  <div class="container-fluid">
    <section class="page-header">
      <h1>Languages</h1>
    </section>
    <% active.each_slice(6) do |tracks| %>
      <div class="row">
        <% tracks.each do |t| %>
          <%= erb :'languages/_block', locals: { track: t } %>
        <% end %>
      </div>
    <% end %>

    <section class="page-header">
      <h3>Upcoming</h3>
    </section>
    <% inactive.each_slice(6) do |tracks| %>
      <div class="row">
        <% tracks.each do |t| %>
          <%= erb :'languages/_block', locals: { track: t } %>
        <% end %>
      </div>
    <% end %>

    <section class="page-header">
      <h3>Planned</h3>
    </section>
    <% planned.each_slice(6) do |tracks| %>
      <div class="row">
        <% tracks.each do |t| %>
          <%= erb :'languages/_block', locals: { track: t } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
