<div class="container languages">

  <div class="row" style="padding-top: 40px;">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <h1><%= track_id %></h1>

      <p>
        It doesn't look like we have <b><%= track_id %></b> yet.
      </p>

      <p>
        If you'd like to help implement it, then check out the
        <a href="https://github.com/exercism/x-common/pull/125">Contributing Guide</a>, which
        is still a bit of a work in progress.
      </p>

      <p>
        Email Katrina at <a href="mailto:kytrinyx@exercism.io">kytrinyx@exercism.io</a>,
        and she'll set up a repository for you.
      </p>
    </div>
  </div>

</div>
