<div class="container languages">

  <div class="row" style="padding-top: 40px;">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <h1><%= track_id %></h1>

      <p>
        It doesn't look like we have <b><%= track_id %></b> yet.
      </p>

      <p>
        If you'd like to help implement it, then open an issue in
        <a href="https://github.com/exercism/request-new-language-track">the Request New Language Track repository</a>.
      </p>
    </div>
  </div>

</div>
