<div class="container languages">

  <div class="row" style="padding-top: 40px;">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <h1><%= track.language %></h1>

      <p>
        It doesn't look like we have <b><%= track.language %></b> yet, though there might
        already be a <a href="<%= track.repository %>">repository for it on GitHub</a>.
      </p>

      <p>
        If there is, and you'd like to help implement it, then check out the
        <a href="https://github.com/exercism/x-common/pull/125">Contributing Guide</a>, which
        is still a bit of a work in progress.
      </p>

      <p>
        If there's no repository yet, email Katrina at <a href="mailto:kytrinyx@exercism.io">kytrinyx@exercism.io</a>,
        and she'll set it up for you.
      </p>
    </div>
  </div>

</div>
