@import "../themes/exercism";

@media only screen and (max-width: $container-sm) {
    nav {
        top:94px !important;
    }

    main {
        margin-top: 94px;
    }
}

@media only screen and (min-width: $container-sm) {
    nav {
        top:54px !important;
    }

    main {
        margin-top: 54px;
    }
}

#mentors-banner {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:#333333;
    color:#fff;
    padding:15px 0 25px;
    text-align:center;
    z-index:1030;

    p, a {
        display:inline-block;
        font-size:1.15em;
        font-weight:200;
        line-height:1;
    }
    p {
    }
    a {
        background:#fff;
        padding:8px 16px;
        color:#333;
        font-weight:500;
        margin-left:10px;
        border:1px solid #fff;
        &:hover {
            text-decoration:none;
            border-color:#333;

        }
    }

}

