@import "compass/typography/text/replacement";

#brand {
  @include hide-text;
  background: url('/img/e_small.png') center no-repeat;
  background-size: 32px 32px;
  min-width: 32px;
  padding-left: 50px;
  &:hover {
    background: url('/img/e_red_small.png') center no-repeat;
    background-size: 32px 32px;
  }
}
