@import "compass/typography/text/replacement";
@import "../themes/exercism";

.exercism-brand,
.wordmark {
  transition: color 300ms ease-in-out;
  &:hover {
    color: $exercism-red !important;
    text-decoration: none !important;
  }
}

.exercism-brand {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  min-height: 50px;
  margin-right: 2em;
  text-decoration: none;
}

.exercism-brand object {
  height: 32px;
  margin-right: 10px;
  width: 32px;
}

@media (max-width: $screen-sm-max) { 
  .exercism-brand object {
    margin-left: 1em;
  }
}


.wordmark {
  font-family: $font-family-sans-serif;
  font-size: $font-size-small;
  line-height: 50px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
nav .wordmark {  
  color: $exercism-silver;
}
footer .wordmark {
  color: $exercism-charcoal;
}