.gitter-chat-embed {
  z-index: 2000;
}

.gitter-chat-button {
  background: green;
  border-radius: 20px;
  color: yellow;
  cursor: pointer;
  float: right;
  margin-right: 30px;
  padding: 1em;
  min-width: 15em;
  max-width: 25em;
}
