nav.inbox {
  li {
    padding-left: 50px;
    a {
      .total-count {
        color: #777;
        float: right;
      }
    }
    .badge {
      position: absolute;
      top: 10px;
      left: 5px;
    }
  }
}
