@import "compass/css3/flexbox";
@import '../mixins/track_link';

#contribute{
  .row{
    @include display-flex();
    @include flex-wrap(wrap);
  }
  @include track_link;
}

#languages{
  .languages-list{
    @include display-flex();
    @include flex-wrap(wrap);
    margin-left: -15px;
    margin-right: -15px;
  }
  @include track_link;
}

#contribute{
  .jumbotron{
    background: white;
  }
  .icon-red{
    color: #d81d4e;
    vertical-align: text-bottom;
  }
  .padding-row{
    padding: 15px;
  }

  .row-margin-bottom{
    margin-bottom: 10px;
  }

  .exercise-name{
    margin: 0px;
  }

  .icon-column{
    padding: 9px 0px;
  }
}

#todo{
  .todo-heading{
    border-bottom: 1px solid #eee;

    div{
      padding-left: 5px;
    }
  }

  .exercise-todo{
    border-bottom: 1px solid #eee;
    padding: 20px 0px;

    div{
      padding: 5px;
      text-align: left;

      h3, h5{
        margin: 5px 0;
      }
    }
  }

  .link-icons{
    display: inline-block;
    margin: 5px auto;

    i{
      margin-right: 5px;
    }

    i, a {
      color: #333;
    }
  }
}

