@import "compass/typography/text/replacement";

body {
  padding-top: 50px;
  padding-bottom: 0px;
}

.contain-centered {
  text-align: center;
}

.block-image {
  display: block;
  margin: 20px auto;
}

.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// TODO clean up (Jalyna)
.language {
  text-align: center;
  line-height: 30px;
  background: #ffcf8c;
  background-position: center center;
  background-size: 20px 20px;
  background-repeat:no-repeat;
  border-radius: 50%;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: default;
}

.ruby-icon {
  background-image: url('/img/ruby.png');
}

.javascript-icon {
  background-image: url('/img/javascript.png');
}

.ecmascript-icon {
  background-image: url('/img/ecmascript.png');
}

.elixir-icon {
  background-image: url('/img/elixir.png');
}

.clojure-icon {
  background-image: url('/img/clojure.png');
}

.coffeescript-icon {
  background-image: url('/img/coffeescript.png');
}

.golang-icon {
  background-image: url('/img/golang.png');
}

.python-icon {
  background-image: url('/img/python.png');
}

.haskell-icon {
  background-image: url('/img/haskell.png');
}

.java-icon {
  background-image: url('/img/java.png');
}

.elisp-icon {
  background-image: url('/img/elisp.png');
}

.commonlisp-icon {
  background-image: url('/img/clojure.png');
}

.objective-c-icon {
  background-image: url('/img/objective-c.png');
}

.scala-icon {
  background-image: url('/img/scala.png');
}

.perl5-icon {
  background-image: url('/img/perl5.png');
}

.cpp-icon {
  background-image: url('/img/cpp.png');
}

.swift-icon {
  background-image: url('/img/swift.png');
}

pre { white-space: pre-line; }

#code-timeline a.selected { background-color: #fcf8e3; }

.pagination > ul > li {
  cursor: pointer;
}

button.edit-text {
  font-size: 1.2em;
}
[data-icon]:before {
  content: attr(data-icon);
  speak: none;
}

.alert--fixed-width {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* nitpick and comment text */

.tab-content {
  overflow: visible;
}

code {
  color: #000;
}

a code {
  color: #0088cc;
}

.notifications ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.notifications span.icon {
  padding-right: 5px;
}

.notifications li {
  padding: 4px;
}

.notifications .read {
  color: #999;
}
.notifications .read a {
  color: #999;
}

.notifications p.nota-bene {
  padding-top: 20px;
  color: #999;
}

.btn-no-link, .btn-no-link:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}

.btn-deemphasized, .btn-deemphasized:hover {
  background-image: none;
  background-color: #fcfcfc;
}

.emojify {
  height: 24px;
  width: 24px;
  vertical-align: top;
}

.clipboard-paste {
  height: 16px;
}

.logo {
  height: 218px;
}

.pagination-controls {
  margin-top: 10px;
}

table {
  td.center {
    text-align: center;
  }

  th.center {
    text-align: center;
  }
}
