/*
Bordered navigation for bootstrap.

This component should be used together with <code>.nav-stacked</code> and <code>.nav-bordered</code>.

<ul class="nav nav-stacked nav-bordered">
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
</ul>

Styleguide Components - Bordered Navbar.
*/
@import '../themes/exercism';

.nav-bordered {
  border: 1px solid $nav-tabs-link-hover-border-color;
  border-radius: $nav-pills-border-radius;
  > li {
    + li {
      margin-top: 0px;
    }
    border-bottom: 1px solid $nav-tabs-link-hover-border-color;
    &:last-child {
      border-bottom: 0px;
    }
  }
  .active {
    font-weight: bold;
    background-color: $exercism-light-gray;
  }
}
