@import 'bootstrap/mixins';

.progress-bar-wrap {
  color: #afb4bc;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 960px;
  position: relative;
  @include clearfix;
}

ul.progress-bar {
  margin: 0 20px;
  li {
    color: #afb4bc;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 14px 20px 14px 80px;
    position: relative;
    &.active {
      font-weight: 700;
      background: #eef1f6;
    }
    &:before {
      background: #e1e4e9;
      border: 2px solid #FFF;
      border-radius: 50%;
      color: #afb4bc;
      font-size: 16px;
      left: 20px;
      line-height: 37px;
      height: 35px;
      position: absolute;
      top: 4px;
      width: 35px;
      z-index: 999;
    }
    &.visited:before {
      color: #fff;
      background: #d81d4e;
    }
    // TODO: Use CSS Counter (Jalyna)
    &:nth-child(1):before {
      content: "1";
    }
    &:nth-child(2):before {
      content: "2";
    }
    &:nth-child(3):before {
      content: "3";
    }
    &:nth-child(4):before {
      content: "4";
    }
    .progress-text {
      display: block;
      text-align: left;
      white-space: nowrap;
    }
  }
}

@media all and (min-width: 800px) {
  .progress-bar li .active:after {
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  ul.progress-bar li.active {
    background: none;
  }

  .progress-bar-wrap {
    margin: 80px auto;
    padding-bottom: 50px;
  }

  ul.progress-bar {
    background-color: #e1e4e9;
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }

  ul.progress-bar:before {
    background-color: #d81d4e;
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 11%;
  }

  ul.progress-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 24%;
  }

  ul.progress-bar li:before {
    height: 45px;
    left: 50%;
    line-height: 45px;
    margin-left: -22.5px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }

  ul.progress-bar li.visited {
    color: #afb4bc;
    background: none;
  }

  ul.progress-bar li.visited:after {
    background-color: #d81d4e;
    content: "";
    height: 15px;
    left: 50%;
    margin-left: 22.5px;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }

  ul.progress-bar li.last:after {
    border-radius: 15px;
    width: 60%;
  }
  ul.progress-bar li .progress-text {
    display: inline;
    text-align: center;
  }
}
