- if nav.has_alerts?
  %div.account-alerts
    %img.alert-flag{:src => link_to("/icons/flag.svg")}
    - nav.alerts.each do |alert|
      %ul.alert-list
        %li
          %p.alert-message= alert.text
          %a{:href => link_to(alert.url)}= alert.link_text
          %a{:href => "#"}
          %img.alert-close{:src => link_to("/icons/close-red.svg")}
