%div.account-container
  %img.gravatar{:src => nav.picture}
  %a.profile-settings{:href => link_to('/account')}<>
    %img.settings-icon(src="/redesign/icons/settings.svg")<>
    %span.settings-text= nav.username

