%div.account-alerts
  %img.alert-flag{:src => "/redesign/icons/flag.svg"}
  %ul.alert-list
    %li
      %p.alert-message 01 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %a{:href => "#"}
        %img.alert-close{:src => "/redesign/icons/close-red.svg"}
    %li
      %p.alert-message 02 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %a{:href => "#"}
        %img.alert-close{:src => "/redesign/icons/close-red.svg"}
