%div.account-container
  %img.gravatar{:src => "redesign/icons/katrina.png"}
  %a.profile-settings{:href => link_to('/account')}<>
    %img.settings-icon(src="redesign/icons/settings.svg")<>
    %span.settings-text Katrina

