<% if current_user.owns?(submission) %>
  <div class="submission-alerts">
    <% if submission.user_exercise.archived? %>
      <div class="alert alert-info" role="alert">
        <p>See <a href="/code/<%= submission.track_id %>/<%= submission.slug %>/random">someone else's solution</a> to this exercise.</p>
        <p>View <a href="<%= language_path_for_slug(submission.language, submission.slug) %>">all other solutions</a> to this problem.</p>
      </div>
    <% end %>
  </div>
<% end %>
