<div ng-controller="MarkdownCtrl">
  <tabset>
    <tab heading="Write">
      <textarea name="body" class="span6 comment" rows="8" ng-model="data.body"></textarea>
    </tab>
    <tab heading="Preview" select="preview()">
      <div class="preview" ng-bind-html-unsafe="data.preview">
      </div>
    </tab>
  </tabset>
</div>
