<div class="container" id="submission">
  <%= erb :"submissions/header", locals: { submission: submission, next_submission: next_submission } %>

  <%= erb :"submissions/alerts", locals: { submission: submission } %>

  <%= erb :"submissions/iterations", locals: { submission: submission } %>

  <%= erb :"submissions/iteration", locals: { submission: submission, solution: solution } %>
</div>