<form accept-charset="UTF-8" action="/submissions/<%= submission.key %>/nitpick" method="POST">

  <%= erb :"submissions/feedback_guide", locals: { submission: submission } %>

  <%= erb :"submissions/comment", locals: { submission: submission } %>

  <button type="submit" name="nitpick" class="pull-right btn btn-primary btn-lg">
    <% if current_user.owns?(submission) || submission.exercise_completed? %>
      Submit Comment
    <% else %>
      Nitpick
    <% end %>
  </button>

  <small class="hidden-xs">
    Parsed with <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavoured Markdown</a>
  </small>
</form>
