<% if settings.development? %>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">be user <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <% for user in @assumable_users %>
      <li><a href="/backdoor?id=<%= user.github_id %>"><%= user.username %></a></li>
    <% end %>
  </ul>
  </li>
<% end %>
