<div class="container">
  <h1>Please login</h1>
  <p>You need to authenticate via github in order to go there.</p>

  <p><a class='btn btn-large btn-success home' href="<%= login_url(return_path) %>">Log in via GitHub</a></p>
</div>
