<div class="container">
  <section class="page-header">
    <h1>Please Log In</h1>
  </section>
  <p>You need to authenticate via GitHub in order to go there.</p>
  <p><a class='btn btn-lg btn-success home' href="<%= login_url(return_path) %>">Log in via GitHub</a></p>
</div>
