<p>&laquo; Back to your <a href="/">dashboard</a></p>

<h1>The Feedback Cycle</h1>

<p>The goal of exercism is to think deeply about simple, readable code. We do not focus on performance optimizations, because performance optimizations are fairly meaningless in the context of these exercises. That said, we might point out that you are doing the same work 100 times when you could be doing it once. Not so much a performance optimization, but a good habit.</p>

<p>You'll notice that the goal <b>is not</b> to write OK-ish code that gets the test suite to pass. If that were the point, then why bother with feedback? We could just give you all the assignments and the test suites, and when the test suite passes, you're done.</p>

<p>With exercism we'd like to provide a space for experimenting with what <i>good</i> might look like. There is no single ideal solution for any given assignment. We don't try to drive you towards a particular solution.</p>

<p>Once you've submitted code, others are <a href="/nitpick">invited to provide feedback</a> on it.</p>

<p>Just because someone says something, doesn't mean they're right. They might have a good point, and you might have a very good reason for having chosen to solve something the way you did. Or maybe it was the only thing that occurred to you at the moment.</p>

<p>Feel free to push back, probe, ask for clarifications, and discuss the choices available to you. Please be gentle and polite.</p>

<p>When you have a new solution, resubmit it using the exercism gem:</p>

<pre>
  $ exercism submit path/to/file.rb
</pre>

<p>All the discussions and previous versions of your code are saved, and available to you, though at the moment it's a bit klunky. We're working on figuring out how to expose them in the best way possible.</p>

<p>When your solution has been approved, then we encourage you to provide feedback to other participants. Thinking hard about readability in other people's code provides a powerful learning experience, and your voice will make the conversation more interesting. If the same 3 people are always providing the same feedback, then their ideas and style might overpower other, perhaps better, ideas.</p>

