<h2>Welcome!</h2>

<p>We've put a bunch of <em>getting started</em> type information in <%= profile_link(current_user, "your account") %>.</p>

<p>In short, the process is: submit some code, get feedback: nitpicky, detailed feedback.</p>
<p>Discuss, resubmit, etc, until your code has been thoroughly bikeshedded. Then an admin user will unlock the next assignment for you, and two things happen:</p>

<ol>
  <li>You can fetch and submit the next assignment.</li>
  <li>You get to see all the pending submissions on the assignment you just completed, and nitpick the code.</li>
</ol>

<p>We've written more about <a href="/cycle">the feedback cycle</a>.</p>
