<div class="container">
  <section class="page-header">
    <h1>
      Team <%= h(team.name) %>
      <% if team.managed_by?(current_user) %>
        <a href="/teams/<%= team.slug %>/manage" class="btn btn-default">Manage</a>
      <% end %>
    </h1>
  </section>
  
  <h3><%= team.all_members.size %> members</h3>
  <p>Click on a team member's name to see their full list of exercises.</p>

  <% members.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |member| %>
        <%= erb :"teams/member_submissions", locals: {team: team, member: member, submissions: member.submissions.pending} %>
      <% end %>
    </div>
  <% end %>
</div>
