<h1>Team <%= team.slug %></h1>
<a href="/teams/<%= team.slug %>/edit">Edit team</a>
<% members.each_slice(3) do |row| %>
  <div class="row">
    <% row.each do |member| %>
      <%= erb :"teams/member_submissions", locals: {member: member, submissions: member.submissions.pending} %>
    <% end %>
  </div>
<% end %>
