<div class="container about">
  <section class="page-header">
    <h1>About</h1>
  </section>

  <section class="main">
    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Languages</h4>
        <p>
        Exercises are currently available in <%= active_languages %>.
        </p>
        <p>
        We're in the process of adding <%= upcoming_languages %>.
        </p>
        <p>
        People have asked for <%= planned_languages %>, and we hope to eventually add them as well.
        </p>
        <p>
        If you want to help make this happen more quickly, join us on <a href="https://github.com/hanumakanthvvn/x-api/tree/master/problems">GitHub</a>.
        </p>
      </div>
    </article>
    <hr>

    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Open Source</h4>
        <p>Exercism.io is free and Open Source.</p>
        <p>
        The <a href="https://github.com/hanumakanthvvn/exercism.io/" target="blank">website prototype</a> is written in Ruby using the Sinatra web framework. It is licensed under the GNU Affero General Public License.
        </p>
        <p>
        The <a href="https://github.com/hanumakanthvvn/exercism.io/" target="blank">command-line client</a> is written in Go, with the MIT license.
        </p>
        <p>An overwhelmingly large number of people have <a href="https://github.com/hanumakanthvvn/exercism.io/graphs/contributors" target="blank">contributed to the codebase</a>.
        </p>
        <p>An even larger number of people have contributed through participation; by completing exercises and participating in the discussions about code.</p>
      </div>
    </article>
    <hr>
    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Open Source Love</h4>
        <p><a href="https://bugsnag.com">Bugsnag</a> has gifted us with monitoring. It's an awesome service, and you should try it!</p>
        <p>Emails get delivered courtesy of <a href="http://sendgrid.com/">SendGrid</a>. They've been incredibly helpful in getting the whole email thing set up right.</p>

        <p>The upcoming swag store is sponsored by <a href="http://shopify.com">Shopify</a>. Oh, and btw, they're looking for developers who enjoy exercism.</p>

        <p><a href="http://rackspace.com">Rackspace</a> has provided us with servers, which we're using to experiment with some exciting new features.</p>
      </div>
    </article>
    <hr>

    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Future</h4>
        <p>Exercism is still a prototype, and we are always experimenting with the basic feature set. The goal is to develop a V1 of the product from scratch using everything that we've learned building and using the prototype.</p>
        <p>The V1 will be built using well-known frameworks and conventions to minimize the barrier to contributing.</p>
      </div>
    </article>
    <hr>

    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Creator: Katrina Owen</h4>
        <p>Katrina focuses on the backend code and product of exercism. She built the first prototype of exercism while an instructor at Jumpstart Lab.<p>
        <p>Katrina accidentally became a developer while pursuing a degree in molecular biology. She began nitpicking code back in 2006 while volunteering at JavaRanch and hasn't stopped. When programming, her focus is on automation, workflow optimization, and refactoring. She is passionate about open source and contributes to several projects outside of exercism.</p>
        <p>Katrina is a polyglot developer and Ruby Hero award winner. She has spoken around the world at conferences like Barcelona Ruby Conf (Spain), ArrrCamp (Belgium), Nordic Ruby (Sweden), and Cascadia Ruby (USA).

      </div>
    </article>
  </section>
</div>
