<div class="container">
  <section class="page-header">
    <h1>About</h1>
  </section>
  <section class="main">
    <article class="article-block">
      <div class="article-contents">
        <p>
          <ul>
            <li>There is immense value in comments and critiques of your code by your peers.</li>
            <li>You grow and improve your ability to <strong>write code</strong> by <strong>reading others' code</strong> and commenting on it.</li>
           <li>As a better coder you help to improve the world of software development</li>
          </ul>
          This is the essence of Exercism.</p>
        <p>Exercism is your place to engage in thoughtful conversations about code. Explore simplicity, idiomatic language features, and expressive readable code.</p>

        <h2>Practice</h2>
        <ul class="list">
          <li>
            Practice writing expressive code.
          </li>
          <li>
            Practice accepting feedback graciously.
          </li>
          <li>
            Practice providing feedback respectfully.
          </li>
        </ul>

        <h2>Conversations</h2>
        <p>The code is only the beginning.  It is a conversation starter. The fun begins when you discuss, with your peers, nuances and variety in perspectives about the problem the code is intended to solve.   What do you like? What do they dislike? What were the "tough choices" you had to make? What are the trade-offs? How can the code be improved?</p>
        
        <p>Curious about what this might look like? <a href="/conversations/1">Here is a conversation</a> from the Ruby track.</p>

        <h2>Open Source</h2>
        <p>Contributing to Open Source Software can be very intimidating. It's scary to expose your code to strangers. It's terrifying to be presented with problems that you probably don't understand, and don't know how to even approach.  These are feelings that ALL developers have had.  And the more experienced - those whom you look up to - overcame it with practice and active participation.</p>
      </div>
    </article>
    <article class="article-block">
      <div class="article-contents">
        <h2 class="header">Languages</h2>
        <p>
        Exercises are currently available in <%= languages %>.
          Coming Up: Java, Rust, Erlang, PHP, and Common Lisp.
        </p>
      </div>
    </article>
    <article class="article-block">
      <div class="article-contents">
        <h2 class="header">Future</h2>
        <p>Exercism is still a prototype, and we are always experimenting with the basic feature set. The goal is to develop a V1 of the product from scratch using everything that we've learned building and using the prototype.</p>
        <p>The V1 will be built using well-known frameworks and conventions to minimize the barrier to contributing.</p>
      </div>
    </article>
    <article class="article-block">
      <div class="article-contents">
        <h2 class="header">Open Source</h2>
        <p>Exercism.io is free and Open Source.</p>
        <p>
          The <a href="https://github.com/exercism/exercism.io" target="blank">website prototype</a> is written in Ruby using the Sinatra web framework. It is licensed under the GNU Affero General Public License.
        </p>
        <p>
          The <a href="https://github.com/exercism/cli" target="blank">command-line client</a> is written in Go, with the MIT license.
        </p>
        <p>An overwhelmingly large number of people have <a href="https://github.com/exercism/exercism.io/graphs/contributors" target="blank">contributed to the codebase</a>.
        </p>
        <p>An even larger number of people have contributed through participation; by completing exercises and participating in the discussions about code.</p>
      </div>
    </article>
    <article class="article-block">
      <div class="article-contents">
        <h2 class="header">Open Source Love</h2>
        <p><a href="https://bugsnag.com">Bugsnag</a> has gifted us with monitoring. It's an awesome service, and you should try it!</p>
        <p>Emails get delivered courtesy of <a href="http://sendgrid.com/">SendGrid</a>. They've been incredibly helpful in getting the whole email thing set up right.</p>
      </div>
    </article>

    <article class="article-block">
      <div class="article-contents">
        <h2 class="header">Origins</h2>
        <p>
          In November 2006 I joined the Cattle Drive on the JavaRanch. In short, you send in an assignment by email, and a real person gives you comments. It didn't take long until I was nitpicking other people's code, and I have been doing so on a daily basis since.
        </p>
        <p>
          Reviewing other people's code has taught me more about writing readable code, than receiving feedback on my own code. I wondered if it would be possible to have
          people first get nitpicked, then turn around and nitpick new people, and spread the effort of giving feedback across a larger group.
        </p>
        <p>
          In February 2013 I joined Jumpstart Lab as a developer and co-instructor for their 6-month full-time developer training program. One of the things we implemented
          was a daily programming warm-up exercise. At first, this was simply a README, then we added a test suite to help guide the students and let them get a taste of what TDD feels like. After a few months we had a number of pain points that we wanted to address:
        </p>
        <p>We had to manually upload a new warm-up every morning</p>
        <ul class="list">
          <li>The students often did not finish exercises</li>
          <li>The students didn't get feedback on the code they wrote</li>
        </ul>
        <p>I decided to try to combine these ideas into an app, and launched a very rough prototype to the students in late June 2013.</p>
        <p>It came as a complete surprise to me that the project hit a nerve with people. I expected dozens of people to use the site. Within the first couple of months, over 1,000 people had submitted over 10,000 pieces of code!</p>
      </div>
    </article>
  </section>
</div>
