<div class="centered">
  <div class="title">
    <h1>Create Assignment</h1>
  </div>
  <br/>
  <section>
  	<p>Make sure specific language repository exist in the Git. (Example: <code>x-java</code>) </p>
    <p>Clone the specific language repository</p> 
    <p>For example, you are trying to create an assignment web-crawler in Java specific language </p>
    <pre> git clone git@github.com:hanumakanthvvn/x-java.git</pre>
    <p>create a folder with exercise name. </p>
       <p>Lets say:</p> 
       <pre>cd x-java
                 mkdir web-crawler</pre>
    <p>Inside the exercise folder create test case files for the specific problem.</p>
    <p> Register your exercise name in the <code>config.json </code> file under problems key.</p>
    <p> Push these changes to <code>x-java</code> git hub repository.</p>

    <p>Clone the x-meta to create the general instructions for the exercise.</p>
    <p> Create <code>.md </code> && <code> .yml </code> files with exercise name.  Example: <pre>web-crawler.md &  web-crawler.yml</pre></p>
    <p> In .md file add the instructions for the exercise.</p>
    <p> In the .yml file add blurb, source and source url for the exercise.</p> 
    <p>Push these changes to x-meta git hub repository.</p>             
  </section>
</div>
