<div class="container">
  <section class="page-header">
    <h1>Donate</h1>
  </section>
  <section>
    <p><strong>We haven’t taken an ounce of funding, are ad-free and 100% bootstrapped.</strong></p>

    <p>While there are a number of people helping maintain exercism, there are just two of us doing the bulk of the work, both as a side project to our day jobs; Katrina as a developer at Splice and Suzan as a CMO-for-Hire to software experts, authors and trainers.</p>

    <p>Exercism began as a simple tool to give students at Jumpstart Lab more opportunities to practice their skills and have a conversation about their code. As the students became obsessed with these problems, they began sharing it with their friends, and talking about it on twitter and at meetups. Once we were featured on the home page of wired.com, site traffic increased 500x. This exposure thrills us as it gives more people the chance to do practice problems and give feedback. It’s also inundated our inboxes.</p>

    <p>While we’re looking to create products that compliment exercism, we want to keep the main tool free for individuals.  We could use your support to make exercism a great experience for everyone who wants to practice their skills and give or receive mentoring.</p>

    <p>If you find exercism useful and want to support the effort, please consider a monetary donation.</p>

    <p>
    To become a one-time patron, choose your own amount, and select "Limit number of periods".
    </p>

    <p>To become a recurring patron, you can make your selection below. You can support exercism for the price of an order of french fries, a craft beer, netflix subscription or an affordable dinner.</p>

    <p>
    Yes, the exercises are important,  but really, it’s you, the community that makes exercism what it is.
    Thanks for being awesome and thank you so much for your support.
    </p>

    <p><i>Katrina + Suzan</i></p>

    <div id="mcccaovm0uvy8"><a href="https://app.moonclerk.com/pay/ccaovm0uvy8">Thank you for your support</a></div><script type="text/javascript">var mcccaovm0uvy8;(function(d,t) {var s=d.createElement(t),opts={"checkoutToken":"ccaovm0uvy8","width":"100%"};s.src='https://d2l7e0y6ygya2s.cloudfront.net/assets/embed.js';s.onload=s.onreadystatechange = function() {var rs=this.readyState;if(rs) if(rs!='complete') if(rs!='loaded') return;try {mcccaovm0uvy8=new MoonclerkEmbed(opts);mcccaovm0uvy8.display();} catch(e){}};var scr=d.getElementsByTagName(t)[0];scr.parentNode.insertBefore(s,scr);})(document,'script');</script>
  </section>
</div>

