<div class="container getting-started">
  <section class="page-header">
    <h1>Hello</h1>
  </section>
  <article class="article-block">
    <div class="article-contents">
      <p>... and welcome to Hootcode!</p>
      <p>Hootcode began as a way to support students learning to code by giving them practice problems and real world feedback.</p>
      <p>In a way, the entire site happened by accident as HootCode spread by word of mouth, whereby current users helped new users get started. If you happened to come to the site without the support of someone more experienced, it was very difficult to get started.</p>
      <p>If you’re having trouble getting started, you’ll get the fastest answers <a href="https://github.com/hanumakanthvvn/exercism.io/issues" target="_blank">on GitHub</a>. The best place to start is to look at current issues. If you don’t see your issue listed there, please <a href="#">submit a new issue</a>.</p>
    </div>
    <p>Thank you for your patience as we improve the site. We’re so happy to have you here.</p>
  </article>
  <article class="article-block">
    <div class="article-contents">
      <h2>Exercises</h2>
      <p>
        Fetch the current exercises using the <a href="/installing-cli">command-line client</a>. Exercises consisting of a test suite and a README are available in
        <%= active_languages %>.
      </p>
      <p>
        Write code using your usual tools. Make the tests pass. Keep the code as simple, readable, and expressive as you can.
      </p>
      <p>
        Submit the code to the website. Other people who have completed the same assignment provide a code review, ask questions, and discuss trade-offs with you.
      </p>
      <p>
        Based on their comments, revise your code and resubmit.
      </p>
    </div>
  </article>
  <article class="article-block">
    <div class="article-contents">
      <h2 >Nitpicking</h2>
      <p>
        Think deeply about <a href="/nitpicking-code">how code can be improved</a>.
      </p>
      <p>
        One particularly well-kept secret is that looking at someone's code with an eye towards finding ways of improving it can teach you more about writing readable code than receiving feedback on your own code.
      </p>
      <p>
        Doing this forces you to think about why you make the trade-offs that you do, what in the code you are reacting to, why you are reacting to it, and how you might improve it.
      </p>
      <p>
        There is rarely only one good solution to a problem. Asking questions and articulating your thoughts about these small problems can change your thinking about the issues you face in the code bases you work in on a day-to-day basis.
      </p>
    </div>
  </article>
</div>
