<div class="jumbotron">

    <div class="container landing-image-container">
        <div class="row">
            <div class="col-xs-12 carousel">
                <h1>Because exercises will make you perfect</h1>
                <img src="img/image1.png" title="Landing"/>
            </div>
        </div>
    </div>


    <div class="container steps">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="/installing-cli" class="step">
                    <div class="circle-outer">
                        <div class="circle-inner">
                            <div class="hex hex-small">
                                <span class="step-number">1</span>
                            </div>
                            <i class="step-icon install-cli"></i>
                        </div>
                    </div>
                    <p class="step-name">Install CLI</p>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="#" class="step">
                    <div class="circle-outer">
                        <div class="circle-inner">
                            <div class="hex hex-small">
                                <span class="step-number">2</span>
                            </div>
                            <i class="step-icon work-exercise"></i>
                        </div>
                    </div>
                    <p class="step-name">Work on Exercises</p>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="/submit-assignment" class="step">
                    <div class="circle-outer">
                        <div class="circle-inner">
                            <div class="hex hex-small">
                                <span class="step-number">3</span>
                            </div>
                            <i class="step-icon submit-iteration"></i>
                        </div>
                    </div>
                    <p class="step-name">Submit Iteration</p>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="#" class="step">
                    <div class="circle-outer">
                        <div class="circle-inner">
                            <div class="hex hex-small">
                                <span class="step-number">4</span>
                            </div>
                            <i class="step-icon get-reviews"></i>
                        </div>
                    </div>
                    <p class="step-name">Get Reviews</p>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container languages">
    <h2>We have tons of exercises for you. In your favorite languages!!</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="/java-exercises" class="lang">
                <div class="hex blue hex-big">
                    <i class="java"></i>
                </div>
                <p class="lang-name">Java</p>
                <p class="view-exercises">View Exercises</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="/ruby-exercises" class="lang">
                <div class="hex red hex-big">
                    <i class="ruby"></i>
                </div>
                <p class="lang-name">Ruby</p>
                <p class="view-exercises">View Exercises</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="/javascript-exercises" class="lang">
                <div class="hex yellow hex-big">
                    <i class="javascript"></i>
                </div>
                <p class="lang-name">Javascript</p>
                <p class="view-exercises">View Exercises</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="#" class="lang">
                <div class="hex purple hex-big">
                    <i class="upcoming"></i>
                </div>
                <p class="lang-name">Coming Soon...</p>
            </a>
        </div>
    </div>
</div>
