%section.main
  %section
    .home
      %h1.home exercism.io
      %p.lead.home The Devil is in the Details
      %p.lead.home Crowd-sourced mentorship. Public Prototype.
      %a.btn.btn-large.btn-success.home{href: '/login'} Start Now (via GitHub)

  %section.content-primary.home
    %div.row
      %div.span4
        %img.medallion{:src => link_to("/icons/badge-iteration.svg")}
        %h2.header Practice
        %p
          Focus on expressive, readable code.

        %p
          Work in your local development environment using your usual tools
          = succeed "." do
            %a{:href => link_to('/about')} in multiple languages
          We give you a test suite, and you make the tests pass... but that's just the first step.

      %div.span4
        %img.medallion{:src => link_to("/icons/badge-people.svg")}
        %h2.header Communicate
        %p
          The code is a conversation starter.
        %p
          Have a thoughtful discussion with your peers about the choices that you made. Take this opportunity to explore idioms, style, and trade-offs.  There's no right answer, and many good questions.

      %div.span4
        %img.medallion{:src => link_to("/icons/badge-nitpick.svg")}
        %h2.header Pay it Forward
        %p
          Explore other people's solutions.
        %p
          Articulate what you like and dislike in other people's code. Have a thoughtful, nuanced discussion, deepening your own understanding of the design choices that you make every day.

  %section.content-secondary
    %div.content-secondary-details
      %h2 Try It
      %p You don't need to log in to try it out. Go to a temporary directory.
      %pre $ cd /tmp
      %p
        Download the
        = succeed "," do
          %a(href="https://github.com/exercism/cli/releases/latest") command line client
        unpack it into a temporary directory.
      %p The binary is named <kbd>exercism</kbd>. Fetch the first exercise available for each language:
      %pre $ ./exercism demo
