<br/>
<div class="container about">
  <div class="title">
    <h1>Installing the CLI on Linux</h1>
  </div>
  <br/>
  <section>
    <pre><code class="lang-bash">curl -O http://cli.exercism.io/install && chmod +x install</code> && ./install</pre>
    <p>Read it before you run it, people.</p>
    <p>By default, the installer will try to put it in <code>/usr/local/bin/</code> or <code>$HOME/bin/</code>.</p>
    <p>If you'd like it to live somewhere else, you can specify it up front:</p>
    <pre><code class="lang-bash">DIR=/path/to/bin ./install</code></pre>
  </section>
  <b>Note: </b> Test whether exercism installed successfully or not by typing the command <b> "exercism -v" </b>
</div>
