<div class="centered">
  <div class="title">
    <h1>Manage Assignment</h1>
  </div>
  <br/>
  <section>
  Thank you for your patience as we improve the site. We’re so happy to have you here.
  </section>
 </div>