<br/>
<div class="container about" style="overflow-y: auto; ">
  <div class="title">
    <h1>Nitpicking Code</h1>
  </div>
  <br/>
  <section>
		<p> A practical guide to providing better feedback on solutions to exercises.</p>

		  <p>  You will not see the Nitpick menu until you have submitted at least one exercise solution. After submitting a solution, you will have the opportunity to view and nitpick solutions sent by others for the same exercise.</p>

		<p>When reviewing exercism submissions, it is possible and encouraged to share advice and insight on the style and approach of a given implementation.</p>

		<p>Nitpicks should provide positive and constructive criticism, subtly nudging a coder toward progressively better implementations of an exercise.</p>

		<p>Consider it an opportunity to explore the subtleties of a particular coding problem.</p>

		<p>Instead of outright suggesting an altogether different implementation, consider instead giving suggestions of small adjustments or refactorings to evolve the design and style of the existing code toward a more ideal implementation, by some definition of ideal.</p>

		<p>In most cases, our idea of ideal code is simple, readable, maintainable, and modular.</p>

		<p>Consider it an opportunity to discuss different coding practices and the value they provide in the context of crafting better software.</p>

		<p>Please note that good job or great work are not positive, constructive feedback. If there is something you like about a solution, be specific when describing it. When there is no more feedback to give, feel free to compliment others with a tap on the "Looks great!" button.</p>

		<p>When leaving nitpicks, please remember that beginners do not always have the same confidence level as more experienced developers. It is therefore important to be courteous and considerate. Strive to be clear in your explanations and give users a chance to arrive at their own improvements. Might the Socratic Method be a suitable approach?</p>

		<p>    A rising tide lifts all the boats. - Unknown

</section>
</div>