<h1>Privacy</h1>

<p>This is not a legal document, it's an overview of what personal information we have and why.</p>

<p>When you sign up with github, we save your email address (if it is public), your github user id, your github username, and the link to your gravatar picture.</p>

<p>You may delete your email address on your account page.</p>

<p>We use your email address to send notifications (for example, when someone nitpicks your code).</p>

<p>That's it. We will never, ever give your email address to anyone, because that would be a real jerk-move.</p>

