<div class="container">
  <section class="page-header">
    <h1>Rikki - an Experiment</h1>
  </section>

  <section>
    <img src="/img/rikki.png" style="float: left;" height="150">
    <p>Rikki is a friendly neighborhood nitpicking robot.</p>

    <p>At the moment, Rikki has a pretty limited set of responses, but if this works out, we'll be able to expand on that.</p>
    <p>Rikki's feedback is not intended to replace the discussions with other developers. It's just a way to provide a tiny bit of quick feedback before the humans get involved.</p>


    <h2 style="clear: both;">Powered by Code Analysis</h2>
    <p>The robot is based on some open source <a href="https://github.com/JacobNinja/codeminer">static analysis tools</a> built by Jacob Richardson.</p>
    <p>The comments themselves are <a href="https://github.com/exercism/rikki/blob/master/comments/">also open source</a>. They live in plain text (markdown) files to make them easy to tweak.
    </p>
    <p>Rikki's visuals were designed by <a href="https://twitter.com/weesie_b">Louisa Barrett</a>.</p>
    <p>If you have any ideas for how this can be improved, feel free to <a href="https://github.com/exercism/rikki/issues/new">open an issue</a> or <a href="https://github.com/exercism/rikki/fork">fork the project</a> and submit a pull request.</p>

  </section>
</div>
