<div class="container about">
  <section class="page-header">
    <h1>Ruby Exercises</h1>
  </section>

  <section class='main'>
    <article>
      <p>Ruby is an expressive, dynamic programming language. The courses in this section get you quickly up to speed with the basics of the Ruby language.</p>
    </article>
  </section>

  <section class="main col-md-8">
    <article class="article-block">
      <div class="article-contents">
        <ul>
          <li>
            <h4 style='display: inline-block;'><b>Web Crawler</b></h4>
            <a class="btn btn-default btn-sm pull-right copy-command" href="#" id="copy-command"><i class="fa fa-clipboard"></i></a>
            <p>lorem potem lorem potem read it before you run it, people.</p>
          </li>
          <li>
            <h4 style='display: inline-block;'><b>Hamming Distance</b></h4>
            <a class="btn btn-default btn-sm pull-right copy-command" href="#" id="copy-command"><i class="fa fa-clipboard"></i></a>
            <p>lorem potem lorem potem lorem potem lorem potem lorem lorem.</p>
          </li>
          <li>
            <h4 style='display: inline-block;'><b>Up Stream</b></h4>
            <a class="btn btn-default btn-sm pull-right copy-command" href="#" id="copy-command"><i class="fa fa-clipboard"></i></a>
            <p>lorem potem read it before you run it, people.</p>
          </li>
        </ul>
      </div>
    </article>
  </section>
</div>
