<br/>
<div class="container about">
  <div class="title">
    <h1>WorkFlow - Submitter</h1>
  </div>
  <br/>
  <section>
  <p>
        Fetch the current exercises using the <a href="/installing-cli">command-line client</a> and configure the <a href="/onboarding/get_configuration_key">API KEY</a>. Exercises consisting of a test suite and a README are available in Ruby,Java and Javascript
        <%#= active_languages %>.
      </p>
      <p>
        Write code using your usual tools. Make the tests pass. Keep the code as simple, readable, and expressive as you can.
      </p>
      <p>
        Submit the code to the website. Other people who have completed the same assignment provide a code review, ask questions, and discuss trade-offs with you.
      </p>
      <p>
        Based on their comments, revise your code and resubmit.
      </p>
  </section>
 </div>