<br/>
<div class="container about">
  <div class="title">
    <h1>Submit Assginment</h1>
  </div>
  <br/>
  <section>
    <p>After you&#39;ve <a href="/fetching-exercises.html">fetched the exercises</a> and written an implementation that gets the tests passing, then you&#39;re ready to submit the code to the website so you can discuss its merits and receive feedback.</p>
    <p>You can submit the code in two ways either by <code>DB</code> or through <code>Github.</code> This can be set from your Profile > Account page.</p>
    <div class="title">
    <h2>Submit Assignment using DB</h2>
  </div>
<pre><code class="lang-bash">exercism submit path/to/your/code.ext</code></pre>
<p>For example, if you have been working on the <code>leap</code> exercise in Ruby, you might be in the same directory as the test suite and the code:</p>
<pre><code class="lang-bash">cd ~/exercism/ruby/leap
ls -1</code></pre>
<p>This would output the following:</p>
<pre><code>leap<span class="variable">.rb</span>
leap_test<span class="variable">.rb</span>
README<span class="variable">.md</span></code></pre>
<p>Then you would submit the code with the following command:</p>
<pre><code class="lang-bash">exercism submit leap.rb</code></pre>
<div class="title">
    <h2>Submit Assignment through Github</h2>
</div>
<p>Push code to your Github repo with the name associated to Exercise(Only blob structure is allowed).</p>
<p>For example,if you have been working on the <code>leap</code> exercise, the github repo structure should like this</p>
<pre><code>leap<span class="variable">.rb</span>
README<span class="variable">.md</span></code></pre>
<p>and the github url should refer as</p>
<pre> git@github.com/ username /assignment_slug</pre>
<p>Get the commit id sha and save it in a file with any extension.</p>

<pre><code class="lang-bash">exercism submit path/to/your/commit_sha.ext</code></pre>
<p>For example, if you have been working on the <code>leap</code> exercise in Ruby, you might be in the same directory as the test suite and the code:</p>
<pre><code class="lang-bash">cd ~/exercism/ruby/leap
ls -1</code></pre>
<p>This would output the following:</p>
<pre><code>commit_sha<span class="variable">.txt</span>
leap_test<span class="variable">.rb</span>
README<span class="variable">.md</span></code></pre>
<p>Then you would submit the code with the following command:</p>
<pre><code class="lang-bash">exercism submit commit_sha.txt</code></pre>


<p>If you get a better idea of how to express your code, perhaps coming from
some &quot;nitpick&quot; feedback, you can submit your code again using the same
command to exercism.  Each version of your submitted code for an exercise
is visible on the web site.</p>


  </section>
</div>
 
