%section.footer
  .container
    %hr
    %div.details-container
      %p{style: 'font-size: 13px'}
        %img{width: '120', src: '/img/logo.png', style: 'margin-right: 20px'}
        &copy;
        = Date.today.year
        Katrina Owen
        Source: <a href="https://github.com/exercism/exercism.io">github.com/exercism/exercism.io</a>.
        Report bugs and submit feedback <a href="https://github.com/exercism/exercism.io/issues">on GitHub</a>.
        Ask questions on <a href="http://stackoverflow.com/questions/tagged/exercism">StackOverflow</a>.
        Want to know when new languages are released? Sign up for the <a href="https://tinyletter.com/exercism">newsletter</a>.
