<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="http://help.exercism.io/installing-the-cli.html">
      Installing the CLI
    </a>
  </li>
  <li>
    <a href="http://help.exercism.io/fetching-exercises.html">
      Fetching Exercises
    </a>
  </li>
</ul>
