<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="/help">
      Help
    </a>
  </li>
  <li>
    <a href="/how-it-works/newbie">
      How it Works (New Devs)
    </a>
  </li>
  <li>
    <a href="/how-it-works">
      How it Works (Experienced Devs)
    </a>
  </li>
  <li>
    <a href="/cli">
      Install the Command-Line Client
    </a>
  </li>
  <li>
    <a href="/teams/about">
      Teams
    </a>
  </li>
</ul>
