<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="/help">
      Help
    </a>
  </li>
  <li>
    <a href="/how-it-works">
      How it Works
    </a>
  </li>
  <li>
    <a href="/cli">
      The Command-Line Client
    </a>
  </li>
</ul>
