<div class="footer-sponsors">
  <span class="h6">Sponsors</span>
  <ul class="list-inline">
    <li>
      <a href="https://heroku.com" class="btn btn-default">
        <img src="/img/heroku.png" alt=""/>
        <span class="hidden-xs hidden-sm">Heroku</span>
        <span class="screen-reader-text">Heroku</span>
      </a>
    </li>

    <li>

      <a href="https://bugsnag.com/blog/bugsnag-loves-open-source" class="btn btn-default">
        <img src="/img/bugsnag.png" alt=""/>
        <span class="hidden-xs hidden-sm">Bugsnag</span>
        <span class="screen-reader-text">Bugsnag</span>
      </a>
    </li>

    <li>
      <a href="http://www.rackspace.com/" class="btn btn-default">
        <img src="/img/rackspace.png" alt=""/>
        <span class="hidden-xs hidden-sm">Rackspace</span>
        <span class="screen-reader-text">Rackspace</span>
      </a>
    </li>

    <li>
      <a href="http://www.fastly.com/" class="btn btn-default">
        <img src="/img/fastly.png" alt=""/>
        <span class="hidden-xs hidden-sm">Fastly</span>
        <span class="screen-reader-text">Fastly</span>
      </a>
    </li>
  </ul>
</div>
