<div class="footer-sponsors">
  <span class="h6">Sponsors</span>
  <ul class="list-inline">
    <li>
      <a href="https://bugsnag.com/blog/bugsnag-loves-open-source" class="btn btn-default">
        <img src="/img/bugsnag.png" />
        <span class="hidden-xs hidden-sm">Bugsnag</span>
      </a>
    </li>

    <li>
      <a href="http://www.rackspace.com/" class="btn btn-default">
        <img src="/img/rackspace.png" />
        <span class="hidden-xs hidden-sm">Rackspace</span>
      </a>
    </li>

    <li>
      <a href="http://www.shopify.com/" class="btn btn-default">
        <img src="/img/shopify.svg" />
        <span class="hidden-xs hidden-sm">Shopify</span>
      </a>
    </li>
  </ul>
</div>
