<div class="container">
  <section class="page-header">
    <h1>
      <%= problem.name %> in <%= problem.language %>
    </h1>
  </section>
  <nav role="navigation">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="readme">Readme</a>
      </li>
      <li role="presentation">
        <a href="../<%= problem.slug %>"> Test Suite</a>
      </li>
    </ul>
  </nav>
  <%= md(readme_file.content) %>
</div>
