<div class="container">
  <section class="page-header">
    <h1>Test Suite:
      <small><%= problem.name %> in <%= problem.language %></small>
    </h1>
  </section>
  <%= md(text, problem.track_id) %>
</div>
