<div class="container">
  <section class="page-header">
    <h1>Test Suite:
      <small><%= problem.name %> in <%= problem.language %></small>
    </h1>
  </section>
  <% testfiles.each do |f| %>
    <div>
      <h4><%= f.filename %></h4>
      <%= md(f.content, f.extension) %>
    </div>
  <% end %>
</div>
