<div ng-controller="MarkdownCtrl" class="md-markdown-preview">
  <tabset>
    <tab id="write_tab" heading="Write">
      <textarea
        id="submission_comment"
        name="body"
        class="comment form-control"
        rows="8"
        data-submission-key="<%= submission.key %>"
        ng-model="data.body"
        <%= "ng-init=\"data.body='#{ng_esc(nit.body)}'\"" if defined? nit %>></textarea>
    </tab>
    <tab heading="Preview" select="preview()">
      <div class="preview" ng-bind-html-unsafe="data.preview"></div>
      <hr>
    </tab>
  </tabset>
</div>
