<p>Things to keep in mind:</p>
<ul>
  <li>What do you like about the code?</li>
  <li>How does the code make use of <%= language %>?</li>
  <li>Does the code make appropriate use of Object-Oriented or Functional principles?</li>
  <li>How readable is the code? How well does it tell its story?</li>
  <li>What software design patterns or principles (could) inform the code?</li>
</ul>
