<div class="alert alert-info hidden" id="feedback_guide_alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4><i class="fa fa-comments-o fa-lg"></i> Feedback Guide</h4>
  <% if current_user.owns?(submission) %>
    <%= erb :"submissions/encourage_submitter", locals: {version: submission.version, nit_count: submission.nit_count} %>
  <% else %>
    <%= erb :"submissions/encourage_nitpicker", locals: {language: submission.problem.language} %>
  <% end %>
</div>

<div class="hidden" id="encourage">
  <% if current_user.owns?(submission) %>
    <%= erb :"submissions/encourage_submitter", locals: {version: submission.version, nit_count: submission.nit_count} %>
  <% else %>
    <%= erb :"submissions/encourage_nitpicker", locals: {language: submission.problem.language} %>
  <% end %>
</div>

<div class="pull-right feedback-guide">
  <span
    class="btn btn-lg btn-link"
    id="feedback_guide"
    data-trigger="click"
    data-placement="left"
    data-title="Feedback Guide">
    <i class="fa fa-comments-o fa-lg"></i>
    <span class="sr-only">Feedback Guide</span>
  </span>
</div>