<div class="comments col-md-6">
  <h3>Comments</h3>

  <div class="clearfix"></div>

  <% submission.comments.each do |nit| %>
    <%= erb :"submissions/nit", locals: {nit: nit, submission: submission, own_uuid: submission.exercise_uuid_by(nit.user)} %>
  <% end %>

  <hr>
  <%= erb :"submissions/submit_comment", locals: {submission: submission} %>
</div>
