<div class="pull-right">
  See other implementations of
  <a href="<%= "/tracks/#{submission.track_id}/exercises/#{submission.slug}" %>">
  <%= submission.problem.name %>
  in
  <%= submission.problem.language %>
  </a>
</div>