<div class="container" id="submission">
  <%= erb :"submissions/header", locals: { submission: submission, last_in_inbox: last_in_inbox, successor: successor} %>

  <%= erb :"submissions/alerts", locals: { submission: submission } %>

  <%= erb :"submissions/iterations", locals: { submission: submission } %>

  <%= erb :"submissions/iteration", locals: { submission: submission } %>
</div>
