export PORT=4567
export EXERCISM_GITHUB_CLIENT_ID=5ba119e65304411c5181
export EXERCISM_GITHUB_CLIENT_SECRET=2667dfdf7fbd5c0f59504c1cce997de5fb1d1565
# export EMAIL_DOMAIN=yourdomain.com
# export EMAIL_PASSWORD=secret
# export EMAIL_SMTP_ADDRESS=smtp.yourdomain.com
# export EMAIL_SMTP_PORT=587
# export EMAIL_USERNAME=you
# export EXERCISES_API_URL=http://localhost:9292
