= haml :"site/banner", locals: {title: "Please Log In"}

#content-second
  %article.first.last
    .container.container-narrow
      %h2 403 Forbidden

      %p The content you are trying to access is protected.
      %p
        %a{class: 'btn btn-link btn-submit', href: login_url(return_path)} Log in via GitHub
