<div class="container">
  <section class="contain-centered error-page-container">
    <h1>Sorry! That's our fault!</h1>
    <img src="/img/e.png" class="block-image">
    <p>
      If you'd like to provide information about this error or request help, please
      visit our <a href="https://github.com/exercism/exercism.io/issues">GitHub issues page</a>.
      You can also email Katrina directly at <a href="mailto:kytrinyx@exercism.io">kytrinyx@exercism.io</a>.
      Finally, you can visit our docs website at <a href="http://help.exercism.io">help.exercism.io</a>.
    </p>
    <p>~</p>
    <p class="error-page-featured-message">
      The awesome folks at Bugsnag have captured this error and notified us
      (<a href="https://bugsnag.com/blog/bugsnag-loves-open-source">for free</a>).
    </p>
  </section>
</div>
