%aside.main-sidebar
  = haml :"layout/sidebar/sidebar-profile", locals: {nav: nav}
  = haml :"layout/sidebar/sidebar-alerts", locals: {nav: nav}
  = haml :"layout/sidebar/sidebar-menu", locals: {nav: nav}
