%header.topnav<>
  %div.full-nav
    %a#sidebar_toggle.sidebar-toggle.nav-link(href="#sidebar") &larr; Close
    %a.logout(href="/logout")<>
      %img.logout-icon(src="/redesign/icons/logout.svg")
      %span.logout-text.nav-link Logout

    %nav.primary-nav<>
      %a.nav-link(href='/about') About Exercism
      %a.nav-link(href='/getting-started') Getting Started
      %a.nav-link(href='/blog') Blog
      %a.nav-link(href='/help') Help

