%section.top-nav
 %nav.top-nav-guest
  %a.top-nav-link{:href => link_to('/about')} About Exercism
  %a.top-nav-link{:href => link_to('/getting-started')} Getting Started
  %a.top-nav-link{:href => link_to('/help')} Help
