<% progress.each do |language_progress| %>
  <div>
    <span style='z-index:2; position: absolute; text-align: center; width: 100%;color: black;'> <%= progress_ratio language_progress %>
      <%= language_progress.last_updated %></span>
    <div class='progress' style='position: relative;'>
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="position: absolute;width: <%= percent language_progress %>%;">
      </div>
    </div>
  </div>
<% end %>
