= haml :"user/exercise/byline", locals: {exercise: exercise}
%section#section-content.section-content-code
  .row
    = haml :"user/exercise/code", locals: {exercise: exercise}
    = haml :"user/exercise/nitpicks", locals: {exercise: exercise}
