<%= dashboard.progress_bar %>
<section class="main">
<article class="article-block">
    <div class="article-contents">
      <h2>More Conversations</h2>

      <p>Now that you've completed an exercise, you will see that a "Nitpick" menu has appeared. This lets you see exercises that other people are working on. Look at their code and think about what you see there. Is anything more complicated than it needs to be? Is there something that is unclear or confusing? Ask questions, wonder out loud.</p>

    </div>
  </article>
</section>
