<section class="main">
  <article class="article-block">
    <div class="article-contents">
      <h2>Share Your Process</h2>

      <p>So you've submitted an exercise, now what?</p>

      <p>It's interesting to know how you approached the exercise. Feel free to comment, saying a bit about your thought process, the choices you made, things you considered and discarded, or interesting insights that you had while solving it.</p>

      <p>There's no One True Solution<sup>TM</sup> to any of the problems (and don't believe anyone if they suggest there is). When others comment, remember that this is a conversation, not instruction. They probably don't have all the answers, and neither do you.</p>
    </div>
  </article>
</section>
