<div class="container">
  <div class="row">
    <br>

    <aside class="col-md-4">
      <nav class="inbox">
        <%=
          erb :"stream/_tracks", locals: {
            stream: stream,
            track_url: "/tracks/%s/exercises",
          }
        %>

        <br>

        <% if stream.problems.size > 1 %>
          <%=
            erb :"stream/_problems", locals: {
              stream: stream,
              exercise_url: "/tracks/%s/exercises/%s",
            }
          %>
        <% end %>
      </nav>
      <br>
    </aside>

    <%=
      erb :"stream/_main", locals: {
        stream: stream,
        mark_as_read_url: "/tracks/%s/views/%s",
      }
    %>
  </div>
</div>
