<h2>Want to add more help topics?</h2>

<p>
  The code for this documentation is in <a href="https://github.com/exercism/exercism.io">the exercism.io repository</a> on GitHub.
  <a href="https://help.github.com/articles/using-pull-requests/">Submit a pull request</a> or
  <a href="https://help.github.com/articles/creating-an-issue/">open an issue</a> with suggestions!
</p>

<p>(Check out the <code><a href=<%= "https://github.com/exercism/exercism.io/blob/master/x/docs/#{page}.rb" %>><%= "./x/docs/#{page}.rb" %></a></code> and
  <code><a href=<%= "https://github.com/exercism/exercism.io/blob/master/app/views/site/#{page}.erb" %>><%= "./app/views/site/#{page}.erb" %></a></code> files.)</p>
