<div class="container about">
  <section class="page-header">
    <h1>About</h1>
  </section>

  <section class="main">
    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Open Source</h4>
        <p>Exercism.io is free and Open Source.</p>
        <p>
        The <a href="https://github.com/exercism/exercism.io" target="blank">website prototype</a> is written in Ruby using the Sinatra web framework. It is licensed under the GNU Affero General Public License.
        </p>
        <p>
        The <a href="https://github.com/exercism/cli" target="blank">command-line client</a> is written in Go, and distributed under the MIT license.
        </p>
        <p>
          The exercises in the various languages are also released under the MIT license.
        </p>
        <p>An overwhelmingly large number of people have <a href="https://github.com/exercism/exercism.io/graphs/contributors" target="blank">contributed to the codebase</a>.
        </p>
        <p>An even larger number of people have contributed through participation; by completing exercises and participating in the discussions about code.</p>
        <p>Individual exercise submissions are owned by their author, and may or may not be distributed under an open source license.</p>
      </div>
    </article>
    <hr>
    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Open Source Love</h4>
        <p><a href="https://bugsnag.com">Bugsnag</a> has gifted us with monitoring. It's an awesome service, and you should try it!</p>

        <p><a href="http://rackspace.com">Rackspace</a> has provided us with servers, which we're using to experiment with some exciting new features, like <a href="/rikki">Rikki the Friendly Neighborhood Code Review Robot</a>.</p>
      </div>
    </article>
    <hr>

    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Future</h4>
        <p>Exercism is still a prototype, and we are always experimenting with the basic feature set. The goal is to develop a V1 of the product from scratch using everything that we've learned building and using the prototype.</p>
        <p>The V1 will be built using well-known frameworks and conventions to minimize the barrier to contributing.</p>
      </div>
    </article>
    <hr>

    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Origin of Exercism's name</h4>
        <p> What's with the name "Exercism"?</p>
        <p>Despite being one vowel away from "exorcism", the name has nothing to do with demons or fixing "evil code".</p>
        <p>Instead, it's a pun on <i>exercise</i>. The way Katrina came to think about each exercise is
        that they are small, trivial, and seemingly simple. However, when it comes to solving an exercise, <i>the devil is often in the details</i>. In other words, that simple exercise is suddenly more challenging
        once you think about the finer details.</p>

        <p>Following that idea, the icon came into existence after Katrina mentioned the idea of <i>the devil is in the details</i> to a designer.</p>

        <p>To learn more about what it means for <i>the devil to be in the details</i>, check out these talks by Katrina: <a href="https://www.youtube.com/watch?v=GWEEPt8VvmU">Overkill</a>, <a href=https://www.youtube.com/watch?v=59YClXmkCVM>Succession</a>
      </div>
    </article>
    <hr>

    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Creator: Katrina Owen</h4>
        <p>Katrina is a polyglot developer and Ruby Hero award winner who accidentally became a developer while pursuing a degree in molecular biology.</p>
        <p>She began nitpicking code back in 2006 while volunteering at JavaRanch, and got hooked. When programming, her focus is on automation, workflow optimization, and refactoring. She cares deeply about open source and contributes to several projects outside of exercism.</p>
      </div>
    </article>
  </section>
</div>
