<div class="container languages">
  <div class="row" style="padding-top: 40px;">
    <h1>Command-Line Interface (CLI)</h1>
  </div>

  
  <div class="row" style="padding-top: 20px;">

    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#mac">Mac OS X</a>
      </li>
      <li>
        <a data-toggle="tab" href="#windows">Windows</a>
      </li>

      <li>
        <a data-toggle="tab" href="#linux">Linux</a>
      </li>
      <li>
        <a data-toggle="tab" href="#troubleshooting">Troubleshooting</a>
      </li>
    </ul>
    <div class="tab-content">
     <div class="active tab-pane" id="mac">
      <%= md docs.mac %>
    </div> 
    <% %w(mac windows linux troubleshooting).each do |page| %>
    <div class="tab-pane" id="<%= page %>">
      <%= md docs.send(page)  %>
    </div>
    <% end %>

    <%= erb :"site/_add_more", locals: { page: "cli" } %>
  </div>
</div>
</div>
