<div class="contact" style="padding:10px; margin-left:10px;">
  <h1> Contact Us </h1><br>
  <p>To report a bug, suggest improvements to exercism.io, or if you're having trouble installing or using the CLI, please <a href="https://github.com/exercism/exercism.io/issues"><strong>open a GitHub issue</strong></a>. You can also visit our <a href="https://gitter.im/exercism/support">support chat</a>. We'll do our best to help you out!</p>

  <p>Follow us on Twitter <a href="https://twitter.com/exercism_io">@exercism_io.</a></p>

  <p>You can get the scoop on what's happening behind the scenes at Exercism by <a href="https://tinyletter.com/exercism">signing up for the newsletter.</a></p>
</div>
