<div class="container">
  <section class="contributing-intro jumbotron">
    <h1>Contribute to Exercism</h1>

    <p class="lead">
      <strong>So you want to contribute to exercism?</strong><br />
      That is great news! We welcome all sorts of contributions and will do everything we can to help you get started.
    </p>

    <p>
      <strong>Exercism is a project comprised of several repositories and these can be divided basically into:</strong>

      <ol>
        <li><strong>The website</strong>: Holds the code that people submit. Browse and review solutions, and have conversations.</li>
        <li><strong>Command line interface</strong>: Used to fetch exercises and submit solutions.</li>
        <li><strong>Language track repositories</strong>: Contains the exercise implementations for each language.</li>
        <li><strong>Problem metadata</strong>: Contains the language-specific implementations of exercises. Each language has its own repository.</li>
        <li><strong>Problems API</strong>: Delivers exercises. Consumed by the Exercism command-line client, as well as the Exercism website.</li>
        <li><strong>Rikki- the robot</strong>: Provides helpful, friendly, automated feedback on certain exercises.</li>
      </ol>
      <a href="/repositories">View the active repositories you can contribute to.</a>
    </p>
  </section>

  <hr>

  <section class="contributing-areas">
    <div class="row">
      <div class="col-md-4">
        <div class="contributing-section">
          <h2>Help Triage Issues</h2>

          <p>
            We've got a huge number of old issues that aren't particularly actionable, and new issues come in all the time.
          </p>

          <p>
            Is an issue no longer relevant? Can it be closed? Do we need more information? If it's a bug, is it reproducible? If it's a discussion and we need to make some sort of decision, then it should be labeled as such.
          </p>

          <p>
            Help us get our <a href="https://github.com/exercism/exercism.io/issues">issues</a> under control.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contributing-section">
          <h2>Improve the UX</h2>

          <p>
            Want to help people be less frustrated and more successful?
          </p>

          <p>
            We need help at <a href="https://github.com/exercism/discussions/issues/34">every level</a> of design. Know how to design icons? Wonderful. Want to make the pages look consistent and line things up? Fantastic. Want to redesign an entire page or feature or section? <a href="https://github.com/exercism/discussions/issues">Open an issue</a> so we can talk through some of the hard-earned learning that we've picked up along the way.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contributing-section">
          <h2>Fix Bugs</h2>

          <p>
            Exercism is currently a collection of experiments that grew into an app with the help of duct tape, chewing gum, and chicken wire. It's a mess, and it's got bugs.
          </p>

          <p>
            Check out the <a href="https://github.com/exercism/exercism.io/issues?q=is%3Aissue+is%3Aopen+label%3Abug">list of open bugs</a> if you want to help us troubleshoot, find reproduction steps, and fix stuff.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="contributing-section">
          <h2>Review Pull Requests</h2>

          <p>
            We want the quality of the exercises to be as high as possible (and reviewing pull requests is a great way to both learn and teach a programming language).
          </p>

          <p>
            We look at all sorts of things: style, idiomatic use of language features, naming, missing test cases, and redundant test cases. We also try to avoid forcing the solution to take a particular approach. Subscribe to the language track repositories of your favorite languages so you get notifications about new issues and pull requests. The track maintainers will greatly appreciate your help!
          </p>

          <p>
             You can search for language track repositories <a href="https://github.com/exercism/">here</a>.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contributing-section">
          <h2>Canonicalize Data</h2>

          <p>
            Different implementations of the same exercise often drift apart as people solving them discover different, interesting edge cases. Defining a canonical set of test data helps improve the quality all the implementations, and makes it easier to port the exercise to new languages.
          </p>

          <p>
            Do a survey of the existing implementations, and decide on a good set of test data. Submit a pull request to the <a href="https://github.com/exercism/x-common">metadata repository</a> suggesting a good set of test data, and the track maintainers will be delighted to discuss it with you.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contributing-section">
          <h2>Help Launch a Track</h2>

          <p>
            Sometimes a language track is already planned or even exists, but are not in a state to be released just yet. These tracks can be seen in the <a href="http://exercism.io/languages">lower sections</a> of the languages page.
          </p>

          <p>
            Check out the section about <a href="https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#beta-testing-a-language-track">beta testing</a> in the Contributing Guide.
          </p>

          <p>
            Didn't find a language? We're always looking to increase our supported language tracks. <a href="mailto:kytrinyx@exercism.io">Email Katrina</a>, she'll be glad to help.
          </p>

           <p>
            Check out the section about <a href="https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#starting-a-new-track">starting a new track</a> in the Contributing Guide.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="contributing-section">
          <h2>Make Up Exercises</h2>

          <p>
            We're always looking to add new exercises. Have an idea? Suggest it in the <a href="https://github.com/exercism/x-common">metadata repository</a>.
          </p>

           <p>
            Check out the section about <a href="https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#implementing-a-completely-new-exercise">implementing a new exercise</a> in the Contributing Guide.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contributing-section">
          <h2>Translate Exercises</h2>

          <p>
            Another great way to add new exercises is port an existing exercise to one of the other languages. This is easier than making up an exercise from scratch, since other people have thought through which test cases are needed.
          </p>

          <p>
            Track maintainers are more than happy to give you all the support you need to successfully contribute.
          </p>

          <p>
            Check out the <a href="https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#porting-an-exercise-to-another-language-track">detailed guide</a> if you want to give it a try!
          </p>
        </div>
      </div>


      <div class="col-md-4">
        <div class="contributing-section">
          <h2>Help Us Think</h2>

          <p>
            There's a lot that we haven't quite figured out about how to make Exercism as useful as possible.
          </p>

          <p>
            If you like to think through usability issues, communication, design, features, roadmap, collaboration, or any other exciting open source stuff, join us in the <a href="https://github.com/exercism/discussions/issues">discussions repository</a>, where we're trying to sort out Exercism's future.
          </p>

          <p>
            Have a new idea? <a href="https://github.com/exercism/discussions/issues">Open a discussion</a> so we can push things further.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
