<div class="container">
  <section class="page-header">
    <h1>Help</h1>
  </section>
  <section>
    <%= md(docs.contact) %>

    <h2>Troubleshooting</h2>
    <%= md(docs.executable) %>
    <%= md(docs.dns) %>
    <!-- docs.firewall has a markdown parsing bug in it -->

    <h2>Want to add more help topics?</h2>
    <p>Submit a pull request or open an issue with suggestions! The code for this documentation is in <a href="https://github.com/exercism/exercism.io">the exercism.io repository</a> on GitHub.</p>
    <p>(Check out the <code>./x/docs/help.rb</code> and <code>./app/views/site/help.erb</code> files.)</p>
  </section>
</div>

