<div id="home">
  <section class="main">
  <section>
  <div class="home-top">
    <div class="container">
      <section class="contain-centered">
      <img class="logo" src="<%= link_to("/icons/logo.svg") %>"/>
      <h2 class="home-top-header">Level up your programming skills</h2>
      </section>
    </div>
  </div>
  </section>
  </section>

  <section>
  <div class="summary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
          <i class="fa fa-code"></i>
          Download and solve practice problems in
          <a href="/languages">over 30 different languages</a>.
          </p>
          <p>
          <i class="fa fa-comment"></i>
          Submit the solution to the site for feedback (<em>beta</em>).
          </p>
          <p>
          <i class="fa fa-heart"></i>
          For code newbies and experienced programmers.
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>

  <div class="container">
    <section class="content-primary">

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h2>Are you a code newbie?</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="feelz">
        One moment you feel like you're getting it.
        The next moment you're stuck.
        </p>
      </div>
      <div class="col-md-8">
        <p>
        Learning to program is exhilarating and challenging...
        and also frustrating, exhausting, and overwhelming.
        </p>

        <p>
        Exercism provides countless small wins. The exercises are achievable mini-quests: small and well-defined, and with enough complexity to uncover bite-sized knowledge gaps.
        </p>

        <p>
        The solutions you write provide reviewers with clues about what you haven't grasped yet.
        The feedback you receive will guide you to relevant study topics and dramatically increase the ease with which you write code.
        </p>
        <p class="cta">
          <a href="/how-it-works/newbie" class="btn btn-lg btn-block cta-btn">write code like it's prose &rarr;</a>
        </p>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h2>Are you ramping up in a new language?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="feelz">
        You know what it’s like to be fluent.
        Suddenly you’re feeling incompetent and clumsy.
        </p>
      </div>
      <div class="col-md-8">
        <p>
        Learning a new language can be both thrilling and deeply uncomfortable.
        </p>

        <p>
        You’re used to being productive.
        Now you feel hamstrung with one hand tied behind your back and an unfair suspicion that you should already know this.
        </p>

        <p>
        There's a gap when you're past the basics but real-world problems leave you swamped by details and wandering down rabbit holes.
        Exercism aims to fill that gap with lots of small, self-contained practice problems with just enough complexity to stretch your mind around new concepts.
        </p>

        <p>
        Your solutions are the starting point for a conversation centered around style, idioms, and best practices.
        You can write FORTRAN in any language, as the saying famously goes, but with enough feedback, you’ll quickly find yourself writing the language the way it wants to be written.
        </p>

        <p class="cta">
          <a href="/how-it-works/polyglot" class="btn btn-lg btn-block cta-btn">become fluent in a new language &rarr;</a>
        </p>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h2>Are you hooked on clean code?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="feelz">
        Haphazard, convoluted code is infuriating, not to mention costly.
        That slapdash explosion of complexity is an expensive yak shave waiting to happen.
        </p>
      </div>
      <div class="col-md-8">
        <p>
        There's an art and a science to transforming unmaintainable code into elegant simplicity.
        It takes practice, experimentation, and deep thought.
        </p>

        <p>
        Exercism's tiny toy problems, in the form of automated tests, provide a balance of constraints and freedom.
        The exercises encourage you to explore trade-offs and best-practices.
        </p>

        <p>
        Each solution you write is an occasion to ponder readability and code smells.
        Each solution you review challenges you to articulate your experiences and gut feelings.
        Each discussion is an opportunity to strengthen your instincts for clean, well-factored code.
        </p>

        <p class="cta">
        <a href="/how-it-works/artisan" class="btn btn-lg btn-block cta-btn">master the art of clean code &rarr;</a>
        </p>
      </div>
    </div>
    </section>
  </div>
  <div class="container">
    <section class="content-primary">
    <h2>Behind the Scenes</h2>

    <div class="row">
      <div class="col-md-8">
        <p>Exercism is many things: An experiment. A bunch of interesting people. Chaotic. An open source project.</p>
        <p>If you want an informal glimpse into how things are going and what's going on, <a href="https://tinyletter.com/exercism">sign up for the "behind the scenes" mailing list</a>. You'll receive regular-ish emails with <a href="https://tinyletter.com/exercism/archive">stories, musings, and updates</a>.</p>
      </div>
      <div class="col-md-4">

        <form action="https://tinyletter.com/exercism" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/exercism', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <fieldset class="form-group">
            <label for="tlemail"> Email </label>
            <input type="text" class="form-control" name="email" id="tlemail" placeholder=" email@example.com " />
            <input type="hidden" value="1" name="embed"/>
            <small class="text-muted">We'll never share your email with anyone else.</small>
          </fieldset>
          <input class="btn btn-secondary btn-lg" type="submit" value=" Subscribe " />
        </form>
      </div>
      <div class="col-md-4"></div>
    </section>
  </div>
</div>
