<div class="container">
  <section class="page-header">
    <h1>Rikki</h1>
  </section>

  <section>
    <img src="/img/rikki.png" style="float: left;" height="150">
    <p>Rikki is the friendly neighborhood code review robot.</p>

    <p>At the moment, Rikki has a pretty limited set of responses, and is restricted to just a couple of language tracks.</p>
    <p>Rikki's feedback is not intended to replace the discussions with other developers. It's just a way to provide a tiny bit of quick feedback before the humans get involved.</p>

    <p>If you received automated feedback, that doesn't mean that it's unimportant or impersonal&mdash;rather that you have done something which is so common that reviewers have typed the same thing over and over, and it seemed useful to find a way to provide that feedback more quickly.</p>

    <h2 style="clear: both;">Sponsored by Rackspace</h2>
    <p>Rikki runs as a daemon on a server provided graciously by Rackspace.</p>
    <p>Rackspace is very, very generous to open source projects, and we will likely move more and more of the exercism processes to their servers over time.</p>

    <h2 style="clear: both;">Powered by Code Analysis</h2>
    <p>The Ruby feedback is based on some open source <a href="https://github.com/JacobNinja/codeminer">static analysis tools</a> built by Jacob Richardson.</p>
    </p>
    <p>Rikki's visuals were designed by <a href="https://twitter.com/weesie_b">Louisa Barrett</a>.</p>

    <h2>Help Us Improve!</h2>
    <p>We'd love to hear from you about how Rikki is working for you. Is Rikki frustrating? Useful? Helpful? Open an issue on <a href="https://github.com/exercism/exercism.io">GitHub</a>.</p>
    <p>Rikki's comments are <a href="https://github.com/exercism/rikki/blob/master/comments/">open source</a>. They live in plain text (markdown) files to make them easy to tweak. <a href="https://github.com/exercism/rikki/fork">Fork the project</a> and submit a pull request to help us improve Rikki's feedback!</p>
  </section>
</div>
