<div class="container">
  <section class="page-header">
    <h1>Teams</h1>
  </section>

  <section class="main">
    <article class="article-block">
      <div class="article-contents">
        <p>Members of the same team can view all of their fellow team members' solutions by navigating to the page for the team and clicking on the <i>Activity</i> tab. You will have access to team members' solutions, even if you have not submitted a solution to the same problem yourself.</p>

        <p>Teams can be <em>public</em> or <em>private</em>. A public team will appear in search results, and people can apply for membership to the team.</p>
        </div>
    </article>
    <hr>

    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Creating a Team</h4>
        <p>To create a team in Exercism, navigate to your <a href="/account">account settings page</a>.</p>
        <p>Scroll down to the teams section and click "Create a new team".</p>
        <ol>
          <li>Choose whether your team should be public.</li>
          <li>Enter the <a href="https://en.wikipedia.org/wiki/Semantic_URL#Slug">URL slug</a> you would like for your team.</li>
          <li>Enter your team name.</li>
          <li>Enter the GitHub usernames of the users you would like to add to your team.</li>
          <li>Add a description for your team.</li>
          <li><em>(Public only)</em> Enter any additional tags you'd like using comma separated values. If people search on any of these terms, your team will appear in the search results.</li>
        </ol>
      </div>
    </article>
    <hr>

    <article class="article-block">
      <div class="article-contents">
        <h4 class="header">Managing Your Team</h4>
        <p>If you are a manager of the team, you can perform the following functions by clicking on the <i>Manage</i> tab:</p>
        <ol>
          <li>Change whether the team is public.</li>
          <li>Change the URL slug.</li>
          <li>Edit the team name.</li>
          <li>Update the description.</li>
          <li>Add or remove tags.</li>
          <li>Delete the team.</li>
          <li>Add a manager.</li>
          <li>Remove a manager.</li>
          <li>Invite members.</li>
          <li>Remove members.</li>
        </ol>

        <p>A manager's code will not automatically be included in the team's activity stream. If you, as a manager, wish to include your solutions in the team's activity stream, add yourself to the team as a <i>member</i> as well.</p>
      </div>
    </article>
  </section>
</div>
