<h1>About exercism.io</h1>

<p>The goal of exercism is to think deeply about <em><b>simple, expressive, readable code</b></em>.</p>

<p>You'll notice that the goal <b>is not</b> to write OK-ish code that gets the test suite to pass. If that were the point, then why bother with feedback? We could just give you all the assignments and the test suites, and when the test suite passes, you're done.</p>

<p>With exercism we'd like to provide a space for experimenting with what <i>good</i> might look like. There is no single ideal solution for any given assignment. We don't try to drive you towards a particular solution. There are a number of good approaches to solving each problem, and if someone tries to suggest that there's one good solution, you're encouraged to respectfully disagree.</p>

<p>The format of the exercises are a README and a test suite. You fetch these to your local development environment, where you can make the test suite pass using your usual tools. Then you submit the code to the website.</p>

<p>Those who have completed the exercise previously are invited to ask questions and provide suggestions for improvement.</p>

<h2>Purpose</h2>

<p>The purpose of exercism is to:</p>

<ul>
  <li>practice writing expressive code.</li>
  <li>practice accepting feedback graciously.</li>
  <li>practice giving feedback respectfully.</li>
</ul>

<p>One particularly well-kept secret is that looking at someone's code with an eye towards finding ways of improving it can teach you more about writing readable code than receiving feedback on your own code.</p>

<p>Doing this forces you to think about why you make the trade-offs that you do, what in the code you are reacting to, and why you are reacting to it.</p>

<p>Your voice will make the conversation more interesting. If the same 3 people are always providing the same feedback, then their ideas and style might overpower other, perhaps better, ideas.

<h2>Future</h2>

<p>I don't yet know what exercism.io is or will become. It helps that so many people are thinking out loud, sharing ideas, submitting bugs and feature requests and pull requests.</p>

<p>I hope that it will develop into a place where you can learn, play, experiment, and discuss. Features come and go quite rapidly, and as people use the site we're discovering what works, what doesn't, and what's missing.</p>

<p>Not knowing where it is going means that everything could change. I will do my best to make that change as painless as possible, and will provide ample warning (and a data download) if things should change so drastically that you wouldn't be able to find early discussions.</p>

<h2>Contributors</h2>

<p>An overwhelmingly large number of people have <a href="https://github.com/kytrinyx/exercism.io/graphs/contributors">contributed to the codebase</a>.</p>

<p>An even larger number of people have contributed by doing exercises and participating in the discussions about code.</p>

<h2>Origins</h2>

<p>In November 2006 I joined the Cattle Drive on the JavaRanch. In short, you send in a assignment by email, and a real person gives you comments back. It didn't take long until I was nitpicking other people's code, and I have been doing so on a daily basis since then.</p>

<p>Reviewing other people's code has taught me more about writing readable code, than receiving feedback on my own code. I wondered if it would be possible to have people first get nitpicked, then turn around and nitpick new people, and spread the effort of giving feedback across a larger group.</p>

<p>In February 2013 I joined Jumpstart Lab as a developer and co-instructor for their 6-month full-time developer training program. One of the things we implemented was a daily programming warm-up exercise. At first, this was simply a README, then we added a test suite to help guide the students and let them get a taste of what TDD feels like. After a few months we had a number of pain points that we wanted to address:</p>

<ul>
  <li>We had to manually upload a new warmup every morning</li>
  <li>The students often did not finish warmups</li>
  <li>The students didn't get feedback on the code they wrote for the warmups</li>
</ul>

<p>I decided to try to combine these ideas into an app, and launched a very rough prototype to the students in late June 2013.</p>

<p>It came as a complete surprise to me that the project hit a nerve with people. I expected <b>dozens</b> of people to use the site. Within the first couple of months, over 1,000 people had submitted over 10,000 pieces of code.</p>
