<% if submissions.any? %>
  <h2>Approved</h2>

  <hr/>

  <div class="pending-submissions">
    <% submissions.all.each do |submission| %>
      <%= erb :pending_submission, locals: { submission: submission } %>
    <% end %>
  </div>
<% end %>
