<% current_user.current_submissions.each do |submission| %>
  <div class="span4">
    <%= submission.language %>: <%= submission.slug %> (<%= submission.nits.count %>) <a href="/user/submissions/<%= submission.id %>">view</a>
  </div>
<% end %>
