<form action="/submissions/<%= @submission_id %>/nits/<%= @nit_id %>/comments/<%= @comment_id %>/edit" method='POST'>
	<textarea name="body"><%= @comment.body %></textarea>
	<input type="submit">
</form>
