<form action="/submissions/<%= @submission_id %>/nits/<%= @nit_id %>/comments/<%= @comment_id %>/edit" method='POST'>
	<textarea name="body" class="span6 offset3" rows="10"><%= @comment.body %></textarea>
	<div><button type="submit" class="btn btn-primary">Submit</button></div>
</form>
