<form action="/submissions/<%= @submission_id %>/nits/<%= @nit_id %>/edit" method='POST'>
	<textarea name="comment" class="span6 offset3" rows="10"><%= @nit.comment %></textarea>
	<div><button type="submit" class="btn btn-primary">Submit</button></div>
</form>
