<p><em>I'm working on making this a proper dashboard, please bear with me!</em></p>

<h3>The Process</h3>

<ol>
  <li>Submit your code.</li>
  <li>Receive feedback.</li>
  <li>Resubmit your code. Rinse. Repeat.</li>
</ol>

<p>Once you feel like the discussion has wound down, click the "unlock" button, and you'll be able to fetch the next exercise. You can always submit new versions of completed exercises.</p>

<h3>Nitpick Others</h3>

<p>When you've completed the first exercise, you will gain access to the exercises that are awaiting feedback.</p>
