<div class='main'>
  <div class='home'>
    <h1 class='home'>Exercise your Brain</h1>

    <p class='lead home'>Crowd-sourced code reviews on daily practice problems.</p>

    <a class='btn btn-large btn-success home' href='/login'>Start Now (via GitHub)</a>
  </div>


  <div class="row">
    <div class="span4">
      <h2>Practice</h2>
      <p>We give you a README and a test suite. You make the tests pass... but that's just the first step.</p>
      <p>The goal is to focus on expressive, readable code.</p>
      <p>Work locally in your usual environment using your usual tools.</p>
      <p>We have practice problems in Ruby, Elixir, JavaScript, and Clojure, and other languages are in the pipeline.</p>
    </div>
    <div class="span4">
      <h2>Receive Feedback</h2>
      <p>exercism.io is intended to be a conversation about what <em>good code</em> might look like. There's no right answer, and many good questions.</p>
      <p>That old adage about it being about the journey, not the destination? Yeah, that one. That's what we're going for.</p>

      <p>When the nitpickers are convinced that there's nothing else to wring out of the solution and conversation, they will approve the submission, and you can fetch the next assignment.</p>
      <p><a href="/cycle">Read about the feedback cycle »</a></p>
    </div>
    <div class="span4">
      <h2>Nitpick</h2>
      <p>Once your solution has been approved, you are invited to provide feedback to other participants working on that exercise.</p>
      <p>This means that the people who review your code are your peers, not a small handful of so-called experts.</p>
      <p><a href="/nitpick">Read about how to give feedback »</a></p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Open Source</h2>
      <p>We're still trying to figure out what exercism.io is. Once we have some direction, the code base will be open sourced. If you'd like to help out before that, ping me (@kytrinyx on twitter and github).</p>
    </div>
  </div>

</div>
