<div class='main'>
  <div class='home'>
    <h1 class='home'>Exercise your Brain</h1>
    <p class='lead home'>Crowd-sourced code reviews on daily practice problems.</p>
    <p class='lead home'>Public Beta.</p>
    <a class='btn btn-large btn-success home' href='/login'>Start Now (via GitHub)</a>
  </div>


  <div class="row">
    <div class="span4">
      <h2>Practice</h2>
      <p>We give you a README and a test suite. You make the tests pass... but that's just the first step.</p>
      <p>The goal is to focus on expressive, readable code.</p>
      <p>Work locally in your usual environment using your usual tools.</p>
      <p>We have practice problems in Ruby, Elixir, JavaScript, Python, Haskell, and Clojure, and other languages are in the pipeline.</p>
    </div>
    <div class="span4">
      <h2>Receive Feedback</h2>
      <p>exercism.io is intended to be a conversation about what <em>good code</em> might look like. There's no right answer, and many good questions.</p>
      <p>That old adage about it being about the journey, not the destination? Yeah, that one. That's what we're going for.</p>

      <p>When you feel that there's nothing more to wring out of the conversation, you unlock the next assignment.</p>
    </div>
    <div class="span4">
      <h2>Nitpick</h2>
      <p>Once you've completed an exercise, you are invited to provide feedback to other participants working on that exercise.</p>
      <p>This means that the people who review your code are your peers, not a small handful of so-called experts.</p>
      <p><a href="/help/how-to-nitpick">Read about how to give feedback »</a></p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Try it!</h2>
      <p>You don't need to log in to try it out.</p>
      <p>Install the gem:</p>
      <pre>$ gem install exercism</pre>
      <p>Go to a temporary directory.</p>
      <pre>$ cd /tmp</pre>
      <p>Fetch the first exercise available for each language:</p>
      <pre>$ exercism demo</pre>
      <p>Note: We're deprecating the gem, but the new binary requires logging in for the demo command, so we need to fix that before we can swap this out completely.</p>
    </div>

    <div class="span4">
      <h2>Why GitHub?</h2>
      <p>Social applications use twitter for authentication. This is about code, so we use GitHub.</p>
      <p>We ask for the smallest amount of information possible: read-only access to public information.</p>
      <p>This means that we'll only have your email if it is publicly available on your GitHub profile.</p>
    </div>

    <div class="span4">
      <h2>Open Source</h2>
      <p>exercism.io is licensed under the GNU Affero General Public License.</p>
    </div>
  </div>

</div>
