<div class='main'>
  <h1>Exercise your brain</h1>
  <p>Crowd-sourced code reviews on daily practice problems.</p>

  <h2>How it works</h2>

  <h3>Pick a language &mdash; or several</h3>
  <p>Log in with github, and choose a language to exercise in. Currently we have over 60 exercises in Ruby, and we're working on JavaScript, CoffeeScript, Clojure, and Go, however these are not ready for actual use yet.</p>

  <h3>Get the gem</h3>
  <p>Install the <code>exercism</code> gem. This will allow you to fetch your current exercises and submit assignments.</p>

  <h3>Make the tests pass</h3>
  <p>Work locally in your usual environment, in your usual editor.</p>
  <p>When you fetch the current assignment you will be given a <code>README</code> and a test suite. All but the first of the tests will be pending. Make all the tests pass, then submit your solution using the gem.</p>

  <h3>Get feedback</h3>
  <p>Check in on the website to see the suggestions from the nitpickers.</p>
  <p>When the nitpickers are happy with your solution, it will be approved, and you can fetch the next assignment.</p>

  <h3>Give feedback</h3>
  <p>Once you've gotten an exercise approved, you can help provide feedback to other participants who are working on that assignment.</p>

</div>
