<div class="container">
  <section class="page-header">
    <h1>404 - Not Found</h1>
  </section>
  <section>
    <p>We don't have that but we have some other really nice things.</p>
    <p>Perhaps you were looking for some long-form explanations about <a href="/about">what exercism is about</a> or <a href="/help/nitpick">how to nitpick</a>?</p>
  </section>
</div>
