<h1>404 - Not Found</h1>

<% if current_user.guest? %>
  <p>We don't have that, but you could try
<% else %>
  <p>We don't have that but we have some other really nice things.</p>
  <p>Were you looking for instructions? We have some of those in your <%= profile_link(current_user, "account") %> area.</p>
  <p>Or perhaps you were looking for some long-form explanations about <a href="/about">what exercism is about</a> or <a href="/help/how-to-nitpick">how to nitpick</a>?</p>
<% end %>
