<div class="container">
  <h1>404 - Not Found</h1>

  <p>We don't have that but we have some other really nice things.</p>
  <p>Perhaps you were looking for some long-form explanations about <a href="/about">what exercism is about</a> or <a href="/help/nitpick">how to nitpick</a>?</p>
</div>
