<% unless pending.empty? %>
  <h2>Needs Nitpicking</h2>
  <div class="pending-submissions">

    <% pending.each do |submission| %>
      <%= erb :pending_submission, locals: { submission: submission } %>
    <% end %>

  </div>
<% end %>
