<% if submissions.any? %>
  <h2>
    <%= language_icon(language) %>
    Pending Submissions
  </h2>

  <% if show_filters %>
  <div id="submission-filters">
    <div class="label">Quick-Filters</div>
    <label class="checkbox">
      <input type="checkbox" data-action="set-filter" data-filter="nits" data-selected="All" id="filter-nits" class="submission-filter-check" />
      Only without nitpicks
    </label>

    <label id="opinion-filter"class="checkbox">
      <input type="checkbox" data-action="set-filter" data-filter="opinions" data-selected="All" id="filter-opinions" class="submission-filter-check" />
      Only requesting opinions
    </label>
  </div>
  <% end %>
  <hr/>

  <div class="pending-submissions">
    <% submissions.each do |submission| %>
      <%= erb :pending_submission, locals: { submission: submission } %>
    <% end %>
  </div>
<% end %>
