<% if current_user.nitpicker? %>
<p>Read about <a href="/nitpick">how to nitpick</a></p>
<% end %>
<% unless pending.empty? %>
  <h2>Needs Nitpicking</h2>
  <div class="pending-submissions">

    <% pending.each do |submission| %>
      <%= erb :pending_submission, locals: { submission: submission } %>
    <% end %>

  </div>
<% end %>
