<h3>Getting Started</h3>

<h4>Step 1: Start a trail</h4>
<p>Pick one or more of the available languages.</p>

<h4>Step 2: Install the gem</h4>
<pre>
  $ gem install exercism
</pre>

<h4>Step 3: Configure the Gem</h4>
<p>Your credentials get saved in a config file in your home directory: <kbd>.exercism</kbd>.</p>
<pre>
  $ exercism login
</pre>

<p>You will be asked for your username, your API key, and the location on your filesystem that you'd like to put the exercises. The gem will suggest your current location as the default (in parentheses). If you are happy with that, you can simply hit enter to select that option.</p>

<% unless current_user.guest? %>
  <p>Your api key is: <b><%= current_user.key %></b></p>

  <p>You can always find your API key in <%= profile_link(current_user, "your account") %>.</p>
<% end %>

<p>If you mess up your login, you can either edit the config file at
<kbd>~/.exercism</kbd> or <kbd>~/.config/exercism</kbd>
or you can say <kbd>exercism logout</kbd> and then try again.</p>

<h4>Step 4: Get the code</h4>

When you logged into the gem you configured the project directory.

To fetch down your current exercises, issue the command:

<pre>
  $ exercism fetch
</pre>

The gem will download the exercises to the configured project directory.

To start working on them, go find the downloaded files.

<pre>
  $ cd path/to/exercism/project # or whatever
</pre>

You can work on them using your usual editor, tools, and environment.

<h4>Step 5: Submit the assignment</h4>
<pre>
  $ exercism submit path/to/your/code.ext
</pre>

<h4>Step 6: Discuss!</h4>
<p> Log in to exercism.io to discuss your code.</p>

<p>Discuss, resubmit, etc, until you feel that you've learned what you can. Then click the "unlock" button, and two things happen:</p>

<ol>
  <li>You can fetch and submit the next assignment.</li>
  <li>You get to see all the pending submissions on the assignment you just completed, and nitpick the code.</li>
</ol>
