<div class="container">
  <%= erb :"onboarding/progress_bar", locals: {step: dashboard.next_action} %>
  <section class="main">
    <article class="article-block">
      <div class="article-contents">
        <h2>More Conversations</h2>

        <p>If you've submitted <code>Hello World</code> as your first exercise, complete the next exercise in the sequence to unlock the ability to comment on code.</p>
        <p>Once you've unlocked commenting, you will see that an "Exercises" menu has appeared. This lets you see exercises that other people are working on. Look at their code and think about what you see there. Is anything more complicated than it needs to be? Is there something that is unclear or confusing? Ask questions, wonder out loud.</p>
        <p>We will suggest five different exercises for you to comment on every day. You don't have to comment on them, but getting in the habit of giving feedback frequently will help you think critically about your own code while you write it.</p>
      </div>
    </article>
  </section>
</div>
