<section class="page-header">
  <div class='progress-bar-wrap'>
    <ul class='progress-bar'>
      <li class="first <%= ProgressBar.status('install-cli', step) %>">
        <span class="progress-text">
          <a href='/onboarding/install-cli'>Install CLI</a>
        </span>
      </li>
      <li class="<%= ProgressBar.status('submit-code', step) %>">
        <span class='progress-text'>
          <a href='/onboarding/submit-code'>Submit Code</a>
        </span>
      </li>
      <li class="<%= ProgressBar.status('have-a-conversation', step) %>">
        <span class='progress-text'>
          <a href='/onboarding/have-a-conversation'>Have a Conversation</a>
        </span>
      </li>
      <li class="last <%= ProgressBar.status('pay-it-forward', step) %>">
        <span class='progress-text'>
          <a href='/onboarding/pay-it-forward'>Pay it Forward</a>
        </span>
      </li>
    </ul>
  </div>
</section>
