%section.main
  %section.masthead
    %div.mast-contents
      %img.mast-logo{:src => link_to("/icons/logo.svg")}
      %span.headline Help

  %article.article-block
    %div.article-contents
      - help_topics.each do |slug, title|
        %li
          %a{:href => link_to("/help/#{slug}")}= title
