%section.main
  %section.masthead
    %div.mast-contents
      %img.mast-logo(src="/redesign/icons/logo.svg")
      %span.headline Help

  %article.article-block
    %div.article-contents
      = article('help', topic, substitutions).to_html
