<div class="container">
  <div class="row page-header">
    <h1 class="pull-left">Nits Received</h1>
    <%= erb :"nits/nav_links", locals: { user: user, current_page: "received" } %>
  </div>

  <% if nitpicks.any? %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Received from</th>
          <th>Submission</th>
          <th>Nitpick</th>
          <th>Submitted</th>
        </tr>
      </thead>
      <tbody>
        <% nitpicks.all.each do |nitpick| %>
          <%= erb :"nits/nit", locals: { nitpick: nitpick, user: nitpick.user } %>
        <% end %>
      </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate nitpicks, renderer: BootstrapPagination::Sinatra %>
    </div>
  <% else %>
    <p>
      <b>You haven't received any nitpicks yet.</b>
    </p>
  <% end %>
</div>
