<div class="container">
  <div class="row page-header">
    <h1 class="pull-left">Nit Stats: <small><%= user.username %></small></h1>
    <%= erb :"nits/nav_links", locals: { user: user, current_page: "stats" } %>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p class="well">
        Nits picked vs. nits received over the past 30 days
      </p>
      <ul class="graph-legend">
        <li class="nits-picked">Nits picked</li>
        <li class="nits-received">Nits received</li>
      </ul>
      <canvas id="nitstat-chart" data-stats='<%= stats.data.to_json %>' width="800" height="400"></canvas>
    </div>
  </div>
</div>
