%ul
  - nav.alerts.each do |alert|
    %li
      %form{action: link_to("/alerts/#{alert.id}"), method: 'POST'}
        %input{type: 'hidden', name: '_method', value: 'delete'}
        %input{type: 'submit', value: 'x'}

      = alert.text
      - if alert.url
        %a{href: link_to(alert.url)}= alert.link_text
      = ago(alert.created_at)
