#user-account.text-center
  %p
    %a.toggle-account-settings{:href => "javascript:;"}
      %img.img-circle{:src => nav.picture}/
  %p
    %a.sprite-icon-settings.toggle-account-settings{:href => "#"}= nav.username
