<h2>
  <%= language_icon(language) %>
  Pending Submissions
</h2>
<hr/>
<div class="label-counts">
	<span class="label-count">Nits</span>
	<span class="label-count">Revisions</span>
</div>


<% if submissions.any? %>
  <div class="pending-submissions">
    <% submissions.each do |submission| %>
      <%= erb :"nitpick/pending_submission", locals: { submission: submission } %>
    <% end %>
  </div>
<% else %>
  <p>There are no unmuted, pending submissions in this list.</p>
<% end %>
