<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="/installing-cli">
      Installing the CLI
    </a>
  </li>
  <li>
    <a href="/exercises">
      Exercises
    </a>
  </li>
  <li>
    <a href="http://help.exercism.io/fetching-exercises.html">
      Fetching Exercises
    </a>
  </li>
  <li>
    <a href="http://help.exercism.io/getting-started-with-ruby.html">
      Get Started with Ruby
    </a>
  </li>
</ul>
