<ul class="list-inline">
  <li>
    <a href="https://github.com/exercism/exercism.io">
      <i class="fa fa-github fa-lg"></i>
      Github
    </a>
  </li>
  <li>
    <a href="http://stackoverflow.com/questions/tagged/exercism">
      <i class="fa fa-stack-overflow fa-lg"></i>
      StackOverflow
    </a>
  </li>
  <li>
    <a href="http://exercism.us9.list-manage.com/subscribe?u=c5ed2d182b80db686ffa4025a&id=cdcdca241e">
      <i class="fa fa-envelope"></i>
      Newsletter
    </a>
  </li>
</ul>