<ul class="list-inline">
  <li>
    <a href="https://github.com/exercism/exercism.io">
      <i class="fa fa-github fa-lg"></i>
      GitHub
    </a>
  </li>
  <li>
    <a href="http://stackoverflow.com/questions/tagged/exercism">
      <i class="fa fa-stack-overflow fa-lg"></i>
      StackOverflow
    </a>
  </li>
  <li>
    <a href="https://tinyletter.com/exercism">
      <i class="fa fa-envelope"></i>
      Newsletter
    </a>
  </li>
</ul>
