<h3>Clojure</h3>

<h4>Installation:</h4>

<ul>
  <li>
    Homebrew for Mac OS X
    <ul>
      <li>Update your homebrew to latest: <code>brew update</code></li>
      <li>Install Clojure: <code>brew install clojure</code></li>
    </ul>
  </li>
  <li>
    Other
    <ul>
      <li>Download the latest table release jar file <a href="http://clojure.org/downloads">Clojure-1.5.1</a></li>
    </ul>
  </li>
</ul>

<h4>Running tests:</h4>
<p>If installed with homebrew: </p>
<pre>$ clj bob_test.clj</pre>

<p>If jar file downloaded, assuming <code>clojure-1.5.1.jar</code></p>
<pre>$ java -cp clojure-1.5.1.jar clojure.main bob_test.clj</pre>

