<h3>Haskell</h3>

<h4>Installation: </h4>

<p>
  Download and install a recent Haskell Platform (GHC) for your OS from
  <a href="http://www.haskell.org/platform/">haskell.org/platform</a>.
</p>

<h4>Building and running tests: </h4>
<pre>$ runhaskell -Wall bob_test.hs</pre>

<h4>Making your first Haskell module</h4>

<p>
  To create a module that can be loaded with <code>import Bob (responseFor)</code>,
  put this code in <code>Bob.hs</code>:
</p>

<pre>module Bob where
    responseFor = id
</pre>
