<h3>Haskell</h3>

<h4>Installation: </h4>

<p>
  Download and install a recent Haskell Platform (GHC) for your OS from
  <a href="http://www.haskell.org/platform/">haskell.org/platform</a>.
</p>

<h4>Building and running tests: </h4>
<pre>$ runhaskell bob_test.hs</pre>
