<h3>Haskell</h3>

<h4>Installation: </h4>

<p>
  Download and install a recent Haskell Platform (GHC) for your OS from
  <a href="http://www.haskell.org/platform/">haskell.org/platform</a>.
  Linux distributions are likely to name this package
  <code>haskell-platform</code>. If you're using Xcode 5, you
  may need to tweak your Haskell Platform installation. See
  <a href="http://justtesting.org/post/64947952690/the-glasgow-haskell-compiler-ghc-on-os-x-10-9">The Glasgow Haskell Compiler (GHC) on OS X 10.9 (Mavericks)</a>
  for details.
</p>

<h4>Building and running tests: </h4>
<pre>$ runhaskell -Wall bob_test.hs</pre>

<h4>Making your first Haskell module</h4>

<p>
  To create a module that can be loaded with <code>import Bob (responseFor)</code>,
  put this code in <code>Bob.hs</code>:
</p>

<pre>module Bob (responseFor) where

responseFor :: String -> String
responseFor = undefined
</pre>
