<h3>Java</h3>

<h4>Installation:</h4>

<ul>
  <li>
    Other
    <ul>
      <li>Download the <a href="https://github.com/junit-team/junit/wiki/Download-and-Install">jars needed for JUnit</a>. This will be two jars providing Hamcrest and JUnit.</li>
    </ul>
  </li>
</ul>

<h4>Running tests:</h4>

<pre>
$ javac -cp "*" *.java && java -cp "*:." org.junit.runner.JUnitCore BobTest
</pre>
