<h3>Python</h3>

<h4>Installation: </h4>

<ul>
  <li>
    Homebrew for Mac OS X
    <ul><li>Install Python 2.x: <code>brew install python</code></li></ul>
  </li>
</ul>
<p>
  Check out <a href="http://wiki.python.org/moin/BeginnersGuide/Download">python.org</a> for instructions and
  information on getting started with Python.
</p>

<h4>Running tests: </h4>
<p>Execute tests with: </p>
<pre>$ python bob_test.py</pre>