<h3>Ruby</h3>

<h4>Installation: </h4>
<ul>
  <li>Install ruby. (Should we suggest `ruby-build`? `rvm`?)</li>
</ul>

<h4>Running Tests: </h4>
<p>Execute the tests with:</p>

<pre>$ ruby bob_test.rb</pre>

