<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="exercism-brand" href="/" id="nav-brand">
        <object id="logo-mark" type="image/svg+xml" data="/icons/brand-logo.svg">☺︎</object>
        <span class="logo-type">Exercism</span>
        <span class="screen-reader-text">Home</span>
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if !current_user.guest? %>
        <li><a href="/dashboard">Dashboard</a></li>
        <% end %>
        <li>
          <a href="/languages">Languages</a>
        </li>
        <li><a href="/donate">Donate</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <% if !current_user.guest? %>
            <% if current_user.sees_exercises? %>
              <li><a href="/inbox">Activity Streams</a></li>
            <% end %>
            <% if current_user.teams.any? %>
              <%= erb :"application/nav/teams" %>
            <% end %>
          <%= erb :"application/nav/notifications" %>
          <%= erb :"application/nav/account" %>
        <% else %>
          <li><a href="/login">Log in with GitHub</a></li>
        <% end %>
        <% if settings.development? %>
          <%= erb :"application/nav/backdoor" %>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
