<div class="container">
  <%= erb :"exercises/_nav", locals: {track: track, problem: implementation.problem, active: 'tests' } %>

  <% implementation.files.select { |f, _| f =~ track.test_pattern }.each do |filename, content| %>
    <div>
      <h4><%= filename %></h4>
      <%= syntax(content, track.id) %>
    </div>
  <% end %>
</div>
