<h3>Go</h3>

<h4>Installation: </h4>

<p>Follow the instructions for your system on the installation page at <a href="http://golang.org/doc/install">golang.org</a>.</p>

<h4>Building and running tests: </h4>

<p>Go exercises within your exercism project directory can be run by changing to the exercise directory, and running <kbd>go test</kbd>.</p>

<pre>
$ cd exercism/project/directory/go/bob
$ go test
</pre>

