<h3>Java</h3>

<h4>Installation:</h4>

No installation is required.

<h4>Running tests:</h4>

<pre>
$ ./gradlew check
</pre>

<h4>IDE integration:</h4>

If you want to use Eclipse, run <code>./gradlew eclipse</code> to create appropriate
project files using <a href="http://www.gradle.org/docs/current/userguide/eclipse_plugin.html">Gradle's Eclipse integration</a>.

If you are using IntelliJ 12 or newer, <a href="http://www.jetbrains.com/idea/webhelp/importing-project-from-gradle-model.html">import a new project using a Gradle</a> external project model. For older versions of IntelliJ, run <code>./gradlew idea</code> to create an IntelliJ project using the <a href="http://www.gradle.org/docs/current/userguide/eclipse_plugin.html">Gradle's Eclipse integration</a>.
