<h3>JavaScript</h3>

<h4>Installation: </h4>

<ul>
  <li>
    Install <a href="http://nodejs.org/">Node.js</a>
    <ul>
      <li>
        <a href="https://github.com/joyent/node/wiki/Installing-Node.js-via-package-manager">Installing Node.js via package manager</a>
      </li>
    </ul>
  </li>

  <li>
    Install <a href="https://github.com/mhevery/jasmine-node">jasmine-node</a> with
    <code>npm install jasmine-node -g</code>
  </li>
</ul>

<p>
  Update your <code>PATH</code> to include the npm binaries. Add the
  following to either <code>~/.bash_profile</code> or <code>~/.zshrc</code>
</p>

<pre>$ export PATH=/usr/local/share/npm/bin:$PATH</pre>

<h4>Running tests: </h4>
<p>Execute the tests with:</p>

<pre>$ jasmine-node bob_test.spec.js</pre>


<h4>Making your first node module: </h4>

<p>
  To create a module that can be loaded with <code>var Bob = require(./bob);</code>,
  put this code in <code>bob.js</code>:
</p>

<pre>
var Bob = function() {};
module.exports = Bob;
</pre>

<p>
  You can find more information about modules in the
  <a href="http://nodejs.org/api/modules.html#modules_module_exports">node documentation</a>.
</p>

<h4>Recommended Learning Resources: </h4>
<p>Exercism provides exercises and feedback but can be difficult to jump into for those learning JavaScript for the first time.  These resources can help you get started:</p>
<ul>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide">Mozilla JavaScript Guide</a></li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">Mozilla JavaScript Reference</a></li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Mozilla Recommended Resources</a></li>
  <li><a href="http://stackoverflow.com/">StackOverflow</a></li>
  <li><a href="http://www.w3schools.com/js/default.asp">W3Schools</a></li>
</ul>

