<h3>Common Lisp</h3>
<h4>Installation:</h4>

<ul>
  <li>Install a lisp implementation such as SBCL or CLisp. Both can be
  installed via Homebrew on Mac OS X</li>
  <li>Install QuickLisp (http://www.quicklisp.org/beta/#installation):
    <ul>
      <li><code>curl -O http://beta.quicklisp.org/quicklisp.lisp</code></li>
      <li>Load that file into you running Lisp implementation</li>
      <li><code>(quicklisp-quickstart:install)</code> to complete
      installation</li>
      <li><code>(ql:add-to-init-file)</code> to add the startup code
      to your init file so that the next time you start the lisp
      interpreter QuickLisp will be loaded</li>
      <li>Optional: <code>(ql:quickload "lisp-unit")</code> This will
      be done the first time you run any exercises tests. But you can
      do it now if you want.</li>
    </ul>
  </li>
</ul>

<h4>Running the tests<h4>
Simply load the test file into your running Lisp implementation.

<h4>Making your first Common Lisp solution:</h4>

To create lisp code that can be loaded with <code>(load "bob")</code>
for the first exercise, put this code in <code>bob.lisp</code>:

<pre>
(cl:defpackage #:bob
  (:use :common-lisp)
  (:export :response-for))

(in-package :bob)

(defun response-for (msg) "Whatever.")
</pre>
