<h3>Objective-C</h3>

<h4>Installation: </h4>

<p>
  Ensure that you have the latest Xcode installed through the Mac App Store.
</p>

<h4>Building and running tests: </h4>

<p>Exercism will only download a test file. You will need to manually create the header and the source file associated with the exercise. You will need to generate an Xcode Project file with the test file, the header file (.h) and the source file (.m).</p>

<h4>Creating the project in Xcode:</h4>
<ul><li>Start Xcode create a new project.</li>
<li>Select OSX-->Application and then Command Line Tool.</li>
<li>Click Next and give it a project name using the ExerciseName is advised.</li>
<li>Select Foundation at the bottom from the drop down menu.</li>
<li>Click Next until the wizard is finished.</li>
<li>Now that the project is created click on Editor-->Add Target.</li> 
<li>Select OSX-->Other and select Cocoa Unit Testing Bundle.</li> 
<li>Ensure it's of type XCTest and that the project and target match then click finish.</li> 
<li>Open the new file which will be named <code>ExerciseName_Tests.m</code> in a folder called ExerciseName Tests and replace the contents with the test file you got from exercism.</li>
<li>Create a new file with the correct name for the exercise.</li>
<li>Click on your project in the left hand pane.</li>
<li>Select Build Phases on the right.</li>
<li>Ensure that <code>XCTest.framework</code> exists under Link Binary With Libraries.</li>
<li>Add your .m files to the compile sources list.</li>
<li>Then use CMD-U to run the tests when you're ready.</li></ul>

<p>Tests will be run through Xcode.</p>


<h4>A Test Runner</h4>

<p>An alternative to manually generating the project file is to use a test runner utility, written in ruby, that will create a project file for you with the test file, header file and source file.</p>

<pre>$ gem install objc
$ brew install xctool</pre>

<h5>Running the Tests</h5>

<pre>$ objc ExerciseName</pre>

<p>The <code>objc</code> utility uses the exercise name to find the test file, <code>ExerciseNameTest.m</code>, the header file, <code>ExerciseName.h</code> and source file <code>ExerciseNameTest.m</code>. The files are inserted into a temporary Xcode Project and then <code>xctool</code> is used to run the tests for the project.</p>

<p>While <code>objc</code> makes it so you never have to launch Xcode to complete these exercises, the error messages and feedback through the command-line are not as clear as through the Xcode user interface</p>

