<h3>Perl 5</h3>

<h4>Installation:</h4>

<ul>
  <li>On MS Windows use <a href="http://strawberryperl.com/">Strawberry Perl</a> or <a href="http://dwimperl.com/">DWIM Perl</a>.</li>
   <li>On Linux, perl comes built it.
      Please make sure you have at least perl 5.10 using <code>perl -v</code>
      If not, install perl 5.18.x using <a href="http://perlbrew.pl/">Perl brew</a>
    </li>
    <li>On Mac OSX install Xcode</li>
</ul>
<p>
  Check out <a href="http://learn.perl.org/">learn.perl.org</a> for instructions and
  information on getting started with Perl 5.
</p>

<h4>Running tests: </h4>
<p>Execute tests with: </p>
<pre>$ prove bob_test.t</pre>
