<h3>Ruby</h3>

<h4>Installation: </h4>
<ul>
  <li>Install ruby. (Should we suggest `ruby-build`? `rvm`?)</li>
</ul>

<h4>Running Tests: </h4>
<p>Execute the tests with:</p>

<pre>$ ruby bob_test.rb</pre>

<h4>Recommended Learning Resources: </h4>
<p>Exercism provides exercises and feedback but can be difficult to jump into for those learning Ruby for the first time.  These resources can help you get started:</p>
<ul>
  <li><a href="https://www.ruby-lang.org/en/documentation/quickstart/">Ruby in Twenty Minutes</a></li>
  <li><a href="http://ruby-doc.org">Ruby Documentation</a></li>
  <li><a href="http://www.rubylearning.com">RubyLearning.com - Ruby Tutorial and Study Notes</a></li>
  <li><a href="http://www.rubylearning.org">RubyLearning.org - Professionally Taught and Moderated Classes</a></li>
  <li><a href="http://stackoverflow.com/">StackOverflow</a></li>
</ul>

