<h3>Scala</h3>

<h4>Installation: </h4>
<ul>
  <li>Install the Java runtime version 1.6 or later <a href="http://www.java.com/en/">Download</a></li>
  <li>Install the latest version of Scala <a href="http://www.scala-lang.org/download/">Download</a></li>
  <li>Install the Simple Build Tool (sbt) <a href="http://www.scala-sbt.org/release/docs/Getting-Started/Setup.html">Download</a></li>
</ul>

<h4>Running Tests: </h4>
<p>Execute the tests with:</p>

<pre>$ sbt test</pre>

<p>You should place your code in: </p>

<pre>src/main/scala/bob.scala</pre>

<h4>Recommended Learning Resources: </h4>
<p>Exercism provides exercises and feedback but can be difficult to jump into for those learning Scala for the first time.  These resources can help you get started:</p>
<ul>
  <li><a href="http://www.scala-lang.org/documentation/getting-started.html">Scala - Getting Started</a></li>
  <li><a href="http://www.simplyscala.com/">Simply Scala</a></li>
  <li><a href="http://ofps.oreilly.com/titles/9780596155957/">Programming Scala</a></li>
  <li><a href="http://stackoverflow.com/">StackOverflow</a></li>
</ul>
