/*HOME*/

div.navbar-inner {
  padding-right: 3em;
  padding-left: 3em;
}

div.home {
  background: url('/img/blackboard.jpg') repeat center center;
  min-height: 300px;
  min-width: 100%;
  padding: 60px 5px 10px;
}

h1.home {
  color: white;
  font-size: 4em;
  letter-spacing: -.05em;
  margin: 30px 0px;
  opacity: 0.8;
  text-align: center;
  line-height: 1em;
}

.lead.home {
  color: white;
  margin: 30px 0px;
  opacity: 0.8;
  text-align: center;
}

.btn-large.home {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 200px;
}

/*APPLICATION*/

.pending-submission {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
}

.pending-submission:hover {
  background: #EEE;
  border-radius: 5px;
}

.pending-submission h3 {
  font-size: 30px;
  line-height: 0px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: default;
}

.pending-submission .user {
  padding-top: 4px;
  height: 50px;
}
.pending-submission .user .avatar {
  float: left;
  padding-right: 10px;
}

.language {
  text-align: center;
  line-height: 30px;

  background: #ffcf8c;
  background-position: center center;
  background-size: 20px 20px;
  background-repeat:no-repeat;
}

.ruby-icon {
  background-image: url('/img/ruby.png');
}

.javascript-icon {
  background-image: url('/img/javascript.png');
}

.elixir-icon {
  background-image: url('/img/elixir.png');
}

.clojure-icon {
  background-image: url('/img/clojure.png');
}

.coffeescript-icon {
  background-image: url('/img/coffeescript.png');
}

.golang-icon {
  background-image: url('/img/golang.png');
}

.nits {
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #da4f49;
}

.arguments {
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #49afcd;
}

.versions {
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #717979;
}

.code .btn { float: right; }
.code br { clear: both; }

pre { white-space: pre-line; }

.comments p { padding: 5px 0; }

#code-timeline a.selected { background-color: #fcf8e3; }

.pagination > ul > li {
  cursor: pointer;
}
