/*
---------------------------------
| Exercism.IO # Styles
---------------------------------
*/

/*
| Modular UI
--------------------------------- */

.contain-centered {
  text-align: center;
}

.block-image {
  display: block;
  margin: 20px auto;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*
| Nav
--------------------------------- */

.navbar .brand {
  padding-right: 0;
  padding-left: 0;
}

.navbar .nav > li > a {
  padding-top: 14px;
}

div.navbar-inner {
  padding-right: 3em;
  padding-left: 2em;
}

/*
| Home
--------------------------------- */

div.home-top {
  background: url('/img/blackboard.jpg') repeat center center;
  box-shadow: 0 10px 0 #f1f1f1;
  min-height: 300px;
  min-width: 100%;
  padding: 40px 0;
}

h1.home-top-header {
  color: white;
  font-size: 4em;
  letter-spacing: -.05em;
  margin: 20px 0 0;
  opacity: 0.8;
  text-align: center;
  line-height: 1em;
}

.home-top-subheader {
  background: rgba(0,0,0,0.3);
  display: inline-block;
  font-size: 1.2em;
  padding: 0 15px;
}

.home-top-subheader,
.lead.home {
  color: white;
  margin: 30px 0px;
  opacity: 0.8;
}

.btn-large.home {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 200px;
}

.home-third-subheader {
  background: #eee;
  color: #575757;
  display: inline-block;
  padding: 7px 10px;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.9);
}

.home-p-text {
  line-height: 26px;
}

.home img.medallion {
  display: block;
  margin: 0 auto;
  height: 100px;
}

.home h2, .home p {
  text-align: center;
}

.content-primary {
  padding-top: 2em;
  padding-bottom: 3em;
}

.content-secondary {
  border-top: 1px solid #d8d8d8;
  padding: 2.5em 0 6em 0; }

.content-secondary-details pre {
  background: #eee;
}

/*
| Server Error
--------------------------------- */

.server-error-container {
  margin: 70px auto;
  max-width: 700px;
}

.server-error-container img {
  height: 150px;
  margin: 40px auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  width: 150px;
}

.server-error-container p {
  line-height: 30px;
}

.server-error-featured-message {
  display: inline-block;
  font-size: 18px;
  font-style: italic;
}



/*APPLICATION*/

.pending-submission {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
}

.pending-submission:hover {
  background: #EEE;
  border-radius: 5px;
}

.pending-submission h3 {
  font-size: 30px;
  line-height: 0px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: default;
}

.pending-submission .user {
  padding-top: 4px;
  height: 50px;
}
.pending-submission .user .avatar {
  float: left;
  padding-right: 10px;
}

.language {
  text-align: center;
  line-height: 30px;

  background: #ffcf8c;
  background-position: center center;
  background-size: 20px 20px;
  background-repeat:no-repeat;
}

.ruby-icon {
  background-image: url('/img/ruby.png');
}

.javascript-icon {
  background-image: url('/img/javascript.png');
}

.elixir-icon {
  background-image: url('/img/elixir.png');
}

.clojure-icon {
  background-image: url('/img/clojure.png');
}

.coffeescript-icon {
  background-image: url('/img/coffeescript.png');
}

.golang-icon {
  background-image: url('/img/golang.png');
}

.python-icon {
  background-image: url('/img/python.png');
}

.haskell-icon {
  background-image: url('/img/haskell.png');
}

.java-icon {
  background-image: url('/img/java.png');
}

.commonlisp-icon {
  background-image: url('/img/clojure.png');
}

.objective-c-icon {
  background-image: url('/img/objective-c.png');
}

.scala-icon {
  background-image: url('/img/scala.png');
}

.perl5-icon {
  background-image: url('/img/perl5.png');
}
.nits {
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #da4f49;
}

.versions {
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #717979;
}

.code .btn { float: right; }
.code br { clear: both; }

pre { white-space: pre-line; }

.comments p { padding: 5px 0; }

#code-timeline a.selected { background-color: #fcf8e3; }

.pagination > ul > li {
  cursor: pointer;
}

button.edit-text {
  font-size: 1.2em;
}
[data-icon]:before {
  content: attr(data-icon);
  speak: none;
}

.alert--fixed-width {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* nitpick and comment text */

.tab-content {
  overflow: visible;
}

textarea.comment {
}

blockquote.submitter {
  border-left: 5px solid #0088cc;
}

blockquote p{
  font-size: 1.2em;
  font-weight: initial;
  line-height: 1.4em;
}

code {
  color: #000;
}

a code {
  color: #0088cc;
}

.notifications ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.notifications span.icon {
  padding-right: 5px;
}

.notifications li {
  padding: 4px;
}

.notifications .read {
  color: #999;
}
.notifications .read a {
  color: #999;
}

.notifications p.nota-bene {
  padding-top: 20px;
  color: #999;
}

.btn-no-link, .btn-no-link:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}

.btn-deemphasized, .btn-deemphasized:hover {
  background-image: none;
  background-color: #fcfcfc;
}

.emojify {
  height: 24px;
  width: 24px;
  vertical-align: top;
}

h2 .next-submission {
  font-weight: normal;
}

#current_submission h2 a {
  font-size: 14px;
}

.clipboard-paste {
  height: 16px;
}

.logo {
  height: 218px;
  padding-top: 100px;
}
