/*
---------------------------------
| Exercism.IO # Typography
---------------------------------
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 100;
  margin-bottom: 15px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

p {
  margin: 0 0 20px;
}
